[2017-05-08 17:16] albertsaave opened #1 "CurrentLanguage Mispelled Name Prop"
currentLan**ug**age should be currentLan**gu**age.

[2017-05-10 01:40] ryandrewjohnson commented on #1
Thanks for this catch. I've fixed the typo and pushed a new release.

[2017-05-10 01:40] #1 closed

[2017-06-28 02:29] stefensuhat opened #3 "Add alternative to use the translation without connector to the components"

[2017-06-29 13:00] ryandrewjohnson commented on #3
I'm not 100% sure what the request is, but I am working an update to the translate function that would allow you to easily pass multiple translations down to a child component, but the parent component would still need to be connected. I'm hoping to have this new feature ready by end of week.

In meantime if you want to provide some more detail on your issue I might be able to better answer.

[2017-07-01 11:45] tom3012 opened #4 "TypeError with selector getActiveLanguage"
I'm getting an error when using the selector getActiveLanguage: `Uncaught TypeError: (0 , _reactLocalizeRedux.getActiveLanguage) is not a function`.

Not sure but have you forgotten to export `getActiveLanguage` at `index.js`? It's only working after importing from `lib/modules/locale` or after adding following to `index.js:`

[code]

[2017-07-01 13:28] ryandrewjohnson commented on #4
@tom3012 thanks for catching this .. I've just pushed a new release that should fix this issue.

[2017-07-01 19:38] tom3012 commented on #4
Nice 👍

[2017-07-02 02:39] #4 closed

[2017-07-02 20:04] viljami opened #5 "Update reselect 2 -> 3"
https://github.com/reactjs/reselect v3 out :)

[2017-07-03 03:08] #5 closed

[2017-07-03 03:09] viljami commented on #5
I sent a pull request.
https://github.com/ryandrewjohnson/react-localize-redux/pull/7

[2017-07-06 06:09] burrag opened #8 "with more reducers, state has data for all app, no only for locale"

[2017-07-07 14:15] developer-eg opened #9 "Uncaught (in promise) TypeError: Cannot read property 'find' of undefined"
I get that error when try to use combineReducers

Uncaught (in promise) TypeError: Cannot read property 'find' of undefined
const rootReducer = combineReducers({
.....
 locale:localeReducer

});

[2017-07-08 02:20] ryandrewjohnson commented on #9
If you are adding `localeReducer` with `combineReducers` under a specific prop you will need to ensure that you use that slice of the state when passing to selectors instead of passing in entire state.

[code]

Please let me know if this latest release fixes this issue.

[2017-07-08 02:21] ryandrewjohnson commented on #8
If you are adding `localeReducer` with `combineReducers` under a specific prop you will need to ensure that you use that slice of the state when passing to selectors instead of passing in entire state.

[code]

Please let me know if this latest release fixes this issue.

[2017-07-08 02:25] developer-eg commented on #9
thanks, It's worked after updating to version 2.1

[2017-07-08 03:01] #9 closed

[2017-07-08 05:02] burrag commented on #8
it was fixed, thanks

[2017-07-08 13:43] #8 closed

[2017-07-09 02:56] ryandrewjohnson commented on #3
I have added the new feature I mentioned. See [Pass multiple translations to child components](https://github.com/ryandrewjohnson/react-localize-redux#pass-multiple-translations-to-child-components).

I'm also going to mark this as closed since there's been no details added to this issue.

[2017-07-09 02:56] #3 closed

[2017-07-22 04:05] ieow commented on #3
I think he meant component connected with getTranslate would rerender on every action dispacthed.
I tried using selector to prevent unnecessary rerendering.
`const translateSelector = createSelector(
  state=>state.locale,
  (locale) => getTranslate(locale)
`
)

[2017-07-22 09:33] pmadruga opened #10 "'Reselect' cannot be resolved"
[code]
I have temporarily solved it by installing 'reselect' manually.

Nevertheless, thanks for this library.

[2017-07-23 02:37] ryandrewjohnson commented on #10
`reselect` is listed as a peer dependency, which as of npm v3+ you have to install yourself if your project doesn't already include them. If you're missing any peer dependencies you should see a message like this when you `npm install`.

[code]

[2017-07-23 02:37] #10 closed

[2017-07-23 10:45] pmadruga commented on #10
In that case, shouldn't it be in your README?

[2017-07-24 01:43] ryandrewjohnson commented on #10
Thanks for the input. I have decided to move `reselect` to dependencies as it may not be as common in the typical react/redux project. I have just published a new version v2.2.1 that has this change.

[2017-07-24 07:36] ieow opened #11 "getTranslation to return string Type"
Hi,
getTranslation is define to return LocalizedElement type
returns (key | key[], data) => LocalizedElement | { [key: string]: LocalizedElement }

Is there a way to return string type only?
Thanks

[2017-07-24 07:46] ieow opened #12 "wrap getTranslate with reselect"
My component which mapstatetoprops getTranslate keep rerendering when ever there is action dispatch.
Could getTranslate wrapped with reselect?

I workaround it by wrapping it before mapping it myself.

[2017-07-25 00:50] ryandrewjohnson commented on #12
Is this a component that only has `getTranslate` in mapStateToProps or have you mapped other props as well? If you could provide a code snippet or an example that would be super helpful.

[2017-07-25 00:55] ryandrewjohnson commented on #11
In order to allow for the rendering of HTML inside translation strings it needs to be returned as an element. I will look into maybe only returning an element when HTML is detected in the translation, and for other scenarios it would just return a string.

Would that satisfy your ask?

[2017-07-25 02:34] ieow commented on #12
The component only map `getTranslate`. I also try map `()=>` which also rerender every time redux state updated.

[code]

[2017-07-25 02:36] ieow commented on #11
Actually, if there is an option for me to choose String type would be good enough.
I am now using `LocalizedElement.props.children` which is not a good solution.

[2017-07-25 03:14] ryandrewjohnson commented on #11
I have updated the translate function to return a string when a translation does not include HTML. In the case where a translation contains HTML it will still return the translation wrapped in a `<span>` tag like it did previously.

I have also updated the README for [getTranslate](https://github.com/ryandrewjohnson/react-localize-redux#gettranslatestate) to explain this.

I chose this route inste

[2017-07-25 03:26] ieow commented on #11
Cool. Thanks. Tested. :)

[2017-07-25 03:30] #11 closed

[2017-07-26 02:19] ryandrewjohnson commented on #12
Just pushed a release v2.4.0 that fixes this issue.

[2017-07-26 02:19] #12 closed

[2017-08-10 06:24] tsl143 opened #14 "[feature request] accept mulitple language JSON file"
Right now we have to give one JSON file with multiple language strings as an array.
`"title": [`
`      "Hello from Info Page!",`
`     "Bonjour de la Page d’accueil !",`
`      "Hola desde la página de bienvenida!"`
`    ]`

But as I have to share this file to multiple people for translations, I would be lot easier if I can create JSON file for different languages.
eg:
`locale_en.json`
   `"title

[2017-08-10 06:24] tsl143 commented on #14
@ryandrewjohnson , FYI :)

[2017-08-10 23:38] ryandrewjohnson commented on #14
I have been thinking about a way to provide some sort of transformation logic to be able to handle different json formats. I will give this some thought as I'd ideally like to come up with a way to allow the user to write their own transformations.

I will keep this open and provide updates as things progress.

[2017-08-11 01:44] ryandrewjohnson commented on #14
@tsl143 I have decided to develop the transformation idea as a separate feature instead, and will treat this as a it's own feature.  I was hoping you could help me out with testing...

I have pushed a new [feature branch ](https://github.com/ryandrewjohnson/react-localize-redux/tree/feature/add-translation-for-language) with this new functionality. If you could pull this branch and test it with yo

[2017-08-11 02:35] tsl143 commented on #14
@ryandrewjohnson awesome, that was quick. I will test this asap and update here ASAP. Thanks :)

[2017-08-13 00:40] ryandrewjohnson commented on #14
@tsl143 any luck with that testing? I'm just finishing up updating the docs on my end, and I'm hoping to push soon if all went well with your testing.

[2017-08-16 14:13] jaimemateo opened #15 "Missing Localized key in Containers"
Dear Ryan,

First of all congrats for the package, it is what I was looking for. After installation I made a trial with an example translation right in my store configuration and it worked pretty well:

### configureStore.js

	  const configureStore = () => {
	  const persistedState = loadState();
	  const store = createStore(
	    rootReducer,
	    persistedState);

	  store.subscribe(throttle(()

[2017-08-16 14:37] ryandrewjohnson commented on #15
Thanks for the kind words. From the snippets everything seems to look right...

Any chance you can point me to a working example somewhere? Also if I could get a look at your rootReducer setup where you include `localeReducer`.

[2017-08-16 14:43] ryandrewjohnson commented on #15
Also couple other things I noticed.... again until I see the entire source some of these things are assumptions.

1. It looks like you are trying to include your `configureStore` function in each component, which means that this logic will be run multiple times. When creating your store you're going to want to do that only once during your app's session. Usually you do this work in your main `inde

[2017-08-16 17:01] jaimemateo commented on #15
Of course Ryan,

I'm writing down here the complete configurationStore, the rootReducer and Root component. As you can see, the configurationStore should be initialized only in Root.js component. But then, when I have to store.dispacth(addTranslate) in my modules, I'm importing again configureStore which is a function returning the store:

### configStore.js

        import { createStore } from 'r

[2017-08-16 18:32] ryandrewjohnson commented on #15
Sorry I should have noticed this sooner...

So in your SignupContainer.js you don't need direct access to the store as this component is already `connected`. You just need to pass `mapDispatchToProps` as the second argument to `connect`. This is where you need to add `addTranslation`.

I recommend reading [connect](https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetopro

[2017-08-16 18:32] #15 closed

[2017-08-17 03:10] ryandrewjohnson commented on #14
This feature is now released in `v2.5.1`.

[2017-08-17 03:10] #14 closed

[2017-08-17 07:07] tsl143 commented on #14
@ryandrewjohnson , sorry for late reply.
And yes this new feature is working super fine and smooth.
Take a bow sir, this library is the thing that fueled up my project :)
Once again many thanks for quick and awesome solution.

[2017-08-18 00:07] julesterrien opened #16 "Broken <a> link in docs"
The link to `setLanguages` in `2. Set Languages` seems broken. Getting a 404

[2017-08-18 01:32] ryandrewjohnson commented on #16
Fixed. Thanks for the heads up.

[2017-08-18 01:32] #16 closed

[2017-08-18 20:04] mohadib opened #17 "TypeError: Object doesn't support property or method 'find'"
Hello,

Looks like getActiveLanguage is expecting Array.find to exist. In IE11 this is causing an error. I created the app with create-react-app and have not ejected or customized anything. Here are some screenshots of the stacktrace and my code that sets up the store. Any ideas what I could do to fix this.. ? Thanks

![react1 error](https://user-images.githubusercontent.com/5350023/29475443-fa3a5

[2017-08-18 20:56] ryandrewjohnson commented on #17
Thanks for catching this.

Just pushed a fix for this in `v2.5.2`. Let me know if this fixes the issue, and if you come across any other IE specific issues.

[2017-08-18 22:06] mohadib commented on #17
Just tied it out and problem is solved. Thanks.

[2017-08-18 22:15] #17 closed

[2017-09-08 19:25] mjsisley opened #21 "Pros/Cons with react-intl and react-intl-redux"
Thanks for doing OSS!

I'm curious what are the pros/cons of this library compared to https://github.com/yahoo/react-intl and https://github.com/ratson/react-intl-redux? Maybe adding something to the README would be helpful.

[2017-09-08 19:55] ryandrewjohnson commented on #21
To be honest I wouldn't be 100% comfortable writing any sort of formal comparison, as I have no experience with either of these other libraries. If you have a lot of experience with either feel free to contribute your thoughts, and I could look at updating the README. In the meantime here are some general differences based on just having a quick look at the docs for these two...

**react-intl**
*

[2017-09-09 15:53] mjsisley commented on #21
Thanks!

Honestly, that brief description is pretty helpful. I think adding something like this to the README would be helpful for those quickly browsing. I think it is helpful to reduce the time for the user to identify that this is a lighter weight alternative for a react redux internationalization library than react-intl (from yahoo) and react-intl-redux.

[2017-09-09 21:15] ryandrewjohnson commented on #21
Yea I like the idea. When I get some time I'll look in more detail at those other libraries, and then I'll feel more comfortable putting something official in the docs. For now I'll keep this open to track that.

[2017-09-12 14:37] eliomaria opened #23 "Callback when translation doesn't exist..."
Is there a way i can use a callback function when one of the translations doesn't exist?

[2017-09-12 17:56] ryandrewjohnson commented on #23
This doesn't currently exist ...

Can you tell me a little more about the use case for this feature?

[2017-09-14 07:58] eliomaria commented on #23
Every time a translation doesn't exist i send it to the server, so it can be translated in the backoffice. What i was suggesting was a callback to trigger when you return the "Missing localized key:".

My workaround for that was:

[code]

[2017-09-14 09:12] ryandrewjohnson commented on #23
I think I could add a callback option that can be set during the initialize action easy enough. What would be the expected arguments passed to the callback? I'm thinking translation key, and the current language code.

[2017-09-14 09:26] eliomaria commented on #23
Yes, all i can think of is the key to translate and the current language. I send some extra stuff to help the translation, like:
- if there is vars in the key so the user can translate and see witch vars the translation can take.
- the URL to the page where the translation takes place.

But of course this is outside "react-localize-redux", just putting here to send some ideas to people who want to

[2017-09-17 08:14] ryandrewjohnson commented on #23
@eliomaria this feature has been added #25. Let me know if this works for you.

https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v2.10.0

[2017-09-17 08:14] #23 closed

[2017-09-18 19:47] rohan-buchner opened #26 "Translations get cut off after 1 character."
Using the following I get a strange quirk...

<a href="https://ibb.co/bPLOjQ"><img src="https://thumb.ibb.co/bPLOjQ/Screen_Shot_2017_09_18_at_9_43_08_PM.png" alt="Screen_Shot_2017_09_18_at_9_43_08_PM" border="0"></a>

[code]

To be clear:
The translations state seems to contain the correct translation / localization, but the `translate` function exposed via props, does not work as expected.

I do

[2017-09-18 21:19] ryandrewjohnson commented on #26
Would you be able to provide the following:

* what the unexpected result is you are encountering? What is being rendered for translate('home.slogan')
* a sample of your original translation data that you pass to addTranslate
* a look at the languages array you are passing to initialize
* what version of library are you using?

Thanks

[2017-09-19 08:15] rohan-buchner commented on #26
No problem:

This is my actual translation. (I actually scrubbed out my real translations in the previous sample, so the apostrophe shouldn't be an issue... but yolo, please see below.)

localizations.json
[code]

Gets loaded in my boot server like this.
[code]

I'm using 2.10 (as of last night, prior i was on 2.8... but same issue)

[2017-09-19 08:54] ryandrewjohnson commented on #26
Ok this helped thanks for sending over.

The main issue appears that you are using the wrong action to add your translations. You are using "addTranslation", but you should be using "addTranslationForLanguage". This is because you're adding translations in the "single language format". If you haven't already, make sure to review the Formatting Translation Data section in the docs
https://ryandrewj

[2017-09-19 09:09] rohan-buchner commented on #26
Thank you... feel so dumb for missing that O_o

It's working. Thank you for the guidance (writing it off to 3, 12 hour days)

1. Not sure yet, It might be sufficient for me to swap out the same file as part of my build process (eg the users wont have the option to change localization (or in my case app branding))

2. See above, i'm in effect building a white label portal, and I'm using the localiz

[2017-09-19 11:23] #26 closed

[2017-09-19 18:54] ryandrewjohnson commented on #26
Glad it worked out. I think I'm going to try and tighten up the typings for the translation data, as that might help catch this issue for anyone using TypeScript or Flow.

[2017-09-19 21:15] ryandrewjohnson commented on #23
@eliomaria I haven't heard back on the update, so I'm going to assume its working and close for now.

[2017-09-20 10:45] rohan-buchner opened #27 "How to correctly connect Translate to multiple components"
I know this is not the exact right forum for this... but if you could please advise :|
(I realize this issue isn't pertaining to this framework... but I'm struggling with what seems to be a more complicated (due to lack of know how), situation)

https://stackoverflow.com/questions/46319874/redux-localization

[2017-09-20 16:12] rohan-buchner commented on #27
I may or may not have solved this... :|

[2017-09-20 16:12] #27 closed

[2017-09-20 18:24] ryandrewjohnson commented on #27
Let me know if you have any questions.

[2017-10-10 12:14] pke commented on #21
Thanks for this library too! I had a look at react-intl a while ago but never got around implementing i18n in my apps. Now I wonder why I would have to have translations in the redux store? The only benefit I see is the instant re-translate function it brings with it when one changes the language on the fly.

If the language is determined by the browsers language setting only once, when the page i

[2017-10-10 13:08] ryandrewjohnson commented on #21
Will try my best to answer some of your questions, but first like implementing any feature there’s usually many ways to do it. By know means is react-localize-redux the only way - go with whatever works for you.

Why would I have my translations in redux store?
For me if I’m already using Redux it makes sense to store this data in Redux. It gives my entire app access to all the data without having

[2017-10-17 14:43] Landish commented on #21
@mjsisley

I just implemented `react-localize-redux` package in my own project. The main reason why I decided, to use this package instead of `react-intl`, was that *I was already using redux* and thought that storing languages in it would be a great idea (because UI needs to be updated, when locale changes and etc.).

Another reason why I sticked to this and not `react-intl`, was the bundle size.

[2017-10-17 15:18] ryandrewjohnson commented on #21
@pke I will try my best to answer some of your questions, but first like implementing any feature there’s usually many ways to do it. By no means is `react-localize-redux` the only way to go - use whatever works for you.

**Why would I have my translations in redux store?**

More than likely many, if not all, of your app's components will need access to translation data. In order for this to work

[2017-10-17 15:20] ryandrewjohnson commented on #21
@Landish thanks for the great feedback. This will be really useful when I finally get around to writing up something on `react-intl`.

In terms of `currentLanguage` issue ... do you mind opening an official feature request in issues, and providing some more detail on the functionality you're looking for?

[2017-10-19 09:57] Landish opened #30 "Feature Request: initialize() with array of objects"
Hi @ryandrewjohnson,

I'm opening this issue about the topic, which I started in #21.

The _problem_ in current solution is that, you can only initialize locales with _language codes_.

[code]
And with this scenario, it is bit hard to get the _current language name_.

I had to implement my own util functions to display "English" in a `<LocaleSwitcher />` component, which is simple dropdown with `s

[2017-10-19 12:22] ryandrewjohnson commented on #30
@pa Thanks this level of detail really helps. I will try and have a look at this tonight, but also feel free to submit a PR if you think it’s sokething you’d like to work on.

[2017-10-19 12:23] Landish commented on #30
Will do my best on PR.

[2017-10-19 12:36] ryandrewjohnson commented on #30
@Landish sorry nuked my comment by accident... doing GitHub from phone always a poor choice 😜.

Yea if you have time I’d appreciate the PR. -  I think it may be as easy as doing a check on type in the initialize action 1st arg. E.g: If array contains strings than just language codes, and if object with code and name prop use that. The project uses Flow for types and also contains a TypeSxript defi

[2017-10-29 20:28] ryandrewjohnson commented on #30
@Landish did you still want to work on this? If not I have some time tonight where I could get a start on it. Let me know.

[2017-10-29 20:35] Landish commented on #30
@ryandrewjohnson , Yeah, that would be great. I had no free time to work on it, since I opened this issue. Deadlines are killing me :(

[2017-11-01 01:51] ryandrewjohnson commented on #30
@Landish just pushed this feature in latest [release](https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v2.13.0). Let me know if it works, and if so please close the issue.

[2017-11-08 09:00] Landish commented on #30
@ryandrewjohnson I've updated to the latest version. Works excellent. Thanks 🙏

[2017-11-08 09:00] #30 closed

[2017-11-09 14:09] Vict0rSch opened #32 "Can't setActiveLanguage"
I have the `locale` reducer set :

[code]

The languages initialized:

[code]

And the function mapped to the props:

[code]

However calling `this.props.setActiveLanguage('fr')` in a connected component does not change anything  (logging `this.props.currentLanguage` ). Is this an issue or am I missing something?

[2017-11-09 14:51] ryandrewjohnson commented on #32
@Vict0rSch a couple questions?

1. What version of the library are you running?
2. Any chance you can post a working example on https://codesandbox.io?

I just did a quick test with latest version of library and `setActiveLanguage` seems to be working as expected.

[2017-11-09 15:03] Vict0rSch commented on #32
From my `package.json` : `"react-localize-redux": "^2.13.0"`

(codesandbox gives me an internal server error running my repo, but it is there:[https://github.com/Vict0rSch/oop/tree/master/react](https://github.com/Vict0rSch/oop/tree/master/react))

I don't really know what to check more. Logging `this.props.setActiveLanguage` gives me:

[code]
which seems to be expected and the `languageCode` I us

[2017-11-09 15:07] Vict0rSch commented on #32
I think I know, it's not a state it's a `dispatch`.

How do I integrate the setActiveLanguage action into
[code]

[2017-11-09 16:21] #32 closed

[2017-11-09 18:56] rockia commented on #21
Like the @ryandrewjohnson describes `react-localize-redux`, it's "Dead simple". I only spent 30 min or less to get our company website started on the i18n track.

One thing I am worrying right now is that, I have to `connect` every component to the `translate` state as props. We just have way too many components that requires the translations. Oh well, that's how Redux works.

THANKS for the great

[2017-11-09 21:42] ryandrewjohnson commented on #21
@rockia in regards to this statement...

If you have a Component with many child components that require translations, I recommend that you add translate to the root component, and pass translations down to stateless child components as props. This would help avoid connecting many components. This is essentially the same strategy one would use with connect.

[See Pass multiple translations to chil

[2017-11-09 22:44] rockia commented on #21
@ryandrewjohnson A big THANK YOU. You just saved many hours of my work time in the near future.

[2017-11-10 04:05] ryandrewjohnson commented on #21
I have added a new [FAQ page](https://ryandrewjohnson.github.io/react-localize-redux/faq/#how-does-react-localize-redux-differ-from-react-intl) to the docs that includes a question related to this topic, and have included some of the point from the discussion here.

If you have any further insight on this topic feel free to update the docs and submit a PR.

[2017-11-10 04:05] #21 closed

[2017-11-10 04:07] ryandrewjohnson commented on #21
@rockia I have also added your topic as a FAQ question as it's come up before. Let me know if you think there is anything that can be added.

https://ryandrewjohnson.github.io/react-localize-redux/faq/#do-i-have-to-connect-every-component-that-needs-translations

[2017-11-10 07:14] Codeluck opened #33 "How can I use translate in TypeScript project?"
I am just wondering how can I use `translate:getTranslation(state.locale)` in TypeScript *.tsx component?
Looks like TypeScript definition of `getTranslation` requires at least 2 parameters:

`export type Translate = (value: TranslateValue, data: TranslatePlaceholderData, options?: Options) => LocalizedElement|LocalizedElementMap;`

So what is `data: TranslatePlaceholderData` for? I am just expect

[2017-11-10 16:18] ryandrewjohnson commented on #33
@Codeluck this was an error in the type file - the `data: TranslatePlaceholderData` should be optional. I have updated the type definition and pushed the change. Let me know if this fixes your're issue.

[2017-11-11 04:15] ryandrewjohnson commented on #33
@Codeluck I've just done another release as I took the time to overhaul the flow types, and noticed a couple other small type issues. Please use the following release https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v2.13.5

[2017-11-11 06:06] Codeluck commented on #33
@ryandrewjohnson, good job! Now it works like a charm! Thank you.

[2017-11-11 06:06] #33 closed

[2017-11-21 13:01] acerola1 opened #35 "localize type definition is not consistent with the example"
If I try the following example in TypeScript from [Medium](https://medium.com/@ryandrewjohnson/adding-multi-language-support-to-your-react-redux-app-cf6e64250050):

[code]

I get the following typescript error:

I think localize typescript definition is not matching with this example.

[2017-11-21 13:39] ryandrewjohnson commented on #35
@acerola1 if you have some time you mind taking a look at the typescript def and see if you can get it working with your project? If you’re able to find a solution and submit a PR I can get that published quicker. I’ve done the project in Flow do testing the TS testing on my end is cumbersome at best.

[2017-11-21 14:41] acerola1 commented on #35
I just started my first project in React, Redux and TypeScript. All three are new for me.
I can use the connect method to get the translate function for now. I feel sometimes Typescript just slows me down. I do not use its full capabilities. So I think I'm not the right person for this task yet. But thanks for this package it is up and running now.

[2017-11-21 15:15] ryandrewjohnson commented on #35
@acerola1 no problem thanks for the heads up. Also you may want to take a look at flow type. I've used both flow type, and TypeScript and I personally find flow type much less cumbersome than TypeScript.

[2017-11-22 03:19] ryandrewjohnson commented on #35
@acerola1 as a temp fix until I figure things out with the type definition you can do the following:

[code]

[2017-11-22 09:02] acerola1 commented on #35
Thanks, it works

[2017-11-24 02:51] ryandrewjohnson commented on #35
@acerola1 the latest release now has official fix so you can stop using any.

[2017-11-24 02:51] #35 closed

[2017-12-05 15:22] cranetm opened #36 "Missing translations callback&fallback"
If some translation is missing, I can not setup returned value. There is _showMissingTranslationMsg_ and _missingTranslationCallback_, but i really want have some power to make my own output string.
As possible solution you could return _missingTranslationCallback_ result value if callback exists (utils.js, line 9).
And fallback part. It will be really usefully, if translation for some language is

[2017-12-06 01:06] ryandrewjohnson commented on #36
@cranetm I have a few questions to better understand the feature request.

So the way things currently work is as follows:

Let's say you have translation data that doesn't contain a key:
[code]
Now this would occur for one of two reasons:

1. The translation data for `title` doesn't exist at all.
2. The translation data for `title` exists, but is missing for the current language.

I could add an

[2017-12-07 10:53] cranetm commented on #36
Ok, i will describe detailed.
We do not have title in translation:

`<h1>{translate('title')}</h1>`

now it renders "Missing localized key..." message if showMissingTranslationMsg is true.
I propose to render result of missingTranslationCallback if its defined. And I can manipulate with it in any way I want:
[code]

And second is about fallback to default language.
For example, all development doi

[2017-12-07 20:19] rockia opened #37 "Persist active language?"
Hello Ryan, we have the `react-localize-redux` working in our project but currently we encounter an issue. If the user switch the language from `English` to `French`, he/she can view the French version of the website all the way util when they refresh the website.

Every time they refresh the website, the router will initialize the language again with the defaultLanguage (in our case it's English)

[2017-12-08 02:11] ryandrewjohnson commented on #37
@rockia I have added a FAQ question to answer this on the official docs that should answer your question.

[How do I persist active language?](https://ryandrewjohnson.github.io/react-localize-redux/faq/#how-do-i-persist-active-language)

[2017-12-08 02:11] #37 closed

[2017-12-08 02:53] ryandrewjohnson commented on #36
@cranetm first off thanks for the suggestions. I've included my feedback below.

The requested changes for `missingTranslationCallback` seem very specific to your use case. In addition it would introduce breaking changes to the API, which I wouldn't want to make for a change this small.

In terms of the fallback to default language, this is something I'll take a look at. My initial thought is to a

[2017-12-08 18:23] rockia commented on #37
Never thought of using the native method. Thanks @ryandrewjohnson ! Localisation fully up and running, will deploy to production in our next release. Thanks so much for this awesome library and support for the last two weeks! Have a great upcoming Christmas, eh?

[2017-12-22 12:32] Puzo opened #38 "Problems in <= IE10"
Hello!

I am facing one weird problem in IE10 and below. Here is log from console:

`[object Error]{description: "Unable to g..." ...}`

`Unhandled promise rejection TypeError: Unable to get property 'translate' of undefined or null reference`

I have no idea where to look for a solution. I am using:

[2017-12-22 13:51] ryandrewjohnson commented on #38
Can you confirm exact browser version and post the exact code that is throwing this error? Also if you can post full error trace that will be helpful?

[2017-12-25 13:28] discrete opened #39 "How to use redux-localize-redux with shared validation library"
I am writing validation library for redux-form using redux-localize-redux.

The followings are snippets from my project.

loginform.js

[code]

NineSqValidatorObj.js
[code]

I could try to implement it as HOC, however I thought it's wired to have render() in validator functions. So simply use it as a class. The current symptom is it won't find validate.required key.

If anyone can suggest how to i

[2017-12-26 20:58] ryandrewjohnson commented on #39
Your validator function only really cares about what message it needs to display when value is invalid. My recommendation would be to avoid passing down the translate function, and instead provide the translated message to the validator. For example maybe each of your validation functions takes an additional param like so....

[code]

or if you want you could provide some sort of key value pair li

[2017-12-27 13:20] discrete commented on #39
Thank you very much, @ryandrewjohnson. I've got your idea. You approach cleared my confusions. What I wanted was centralize error messages in one place. validator functions don't have to have the message at all. I will put all my error messages into a file and import it when I need it.

[2017-12-27 13:20] #39 closed

[2018-01-03 09:23] Puzo commented on #38
Sorry for my late reply. Not sure which code to post or start looking at since there is a bunch of code. Is there any better tool to debug React app in for Internet Explorer?

[2018-01-03 18:24] ryandrewjohnson commented on #38
I would need the source where the error is being thrown from. In this case it looks like an error is occurring when you are trying to call `transalte`.

[2018-01-05 12:03] MaiGhoneim commented on #36
hi,
missingTranslationCallback did not change missing localization message, i need to change this message how i can do it

[2018-01-05 13:52] ryandrewjohnson commented on #36
@MaiGhoneim the missingTranslationCallback is just a function that will trigger when a translation is missing. It does not actually change the value of the missing translation message. You can set showMissingTranslationMsg to false to hide the missing translation message, but there isn’t currently a way to define a custom missing message.

If you want open a new issue and label it feature request,

[2018-01-07 09:16] MaiGhoneim opened #40 "Missing Localization Message"
Hi,
I need way to change default missing localization message to custom one.

[2018-01-09 15:59] ryandrewjohnson commented on #40
@MaiGhoneim to better understand the use case - what sort of messaging would you be using?

My original intent for the missing message was for dev environment to inform user's that they are missing translations, and in production these messages would be hidden.

[2018-01-16 11:12] pardonmeme opened #41 "'.code' is undefined"
So, from time to time something breaks and my web app crashes cause of `".code' `is undefined exception.
I noticed that redux at this point is not even launching the `"@@localize/INITIALIZE"` but still adds languages and launches the `"@@localize/ADD_TRANSLATION_FOR_LANGUAGE"`

I tried to put the locale into localstorage to maybe perhaps avoid the undefined `'.code' `which occurs at `"es/locale.js

[2018-01-19 15:37] DarkSmile92 commented on #41
I am having the same issue. Coming from:
react-localize-redux\lib\locale.js
[code]

You are right @ryandrewjohnson , none of the languages made it into the redux store.
I called "dispatch" but not on my store object. When I changed it to call dispatch on my store object right after creation, it worked!

[code]

[2018-01-19 20:11] ryandrewjohnson commented on #41
@DarkSmile92 to confirm... it sound like you've fixed your issue?

[2018-01-20 10:37] DarkSmile92 commented on #41
@ryandrewjohnson yes I solved mine. Hope this helps @pardonmeme with his.

[2018-01-20 17:03] ryandrewjohnson commented on #41
Just to add to what @DarkSmile92 posted in case it helps someone else...

The `dispatch` prop can be called directly by store, but more often than not you will be calling `dispatch` from one of your components. It's important to remember that as soon as you `connect` a component `dispatch` is added to it's props directly. If you're already using connect though you will more than likely want to add

[2018-01-20 17:03] #41 closed

[2018-01-22 15:36] ryandrewjohnson commented on #40
@MaiGhoneim this feature is now released.

You can find updated docs on how to use feature here:
* [Custom missing translation messages](https://ryandrewjohnson.github.io/react-localize-redux/features/#custom-missing-translation-messages)
* [missingTranslationMsg](https://ryandrewjohnson.github.io/react-localize-redux/api/action-creators/#initialize-options)

[2018-01-23 22:01] sirthomasbayes opened #44 "missingTranslationMsg option should be optional in Typescript type declarations."
[missingTranslationMsg](https://github.com/ryandrewjohnson/react-localize-redux/blob/a39fb1b19b21d363e7732b386d2fcc4a97be11e5/src/index.d.ts#L29) option on Options type should probably be optional.

[2018-01-24 01:27] ryandrewjohnson commented on #44
@sirthomasbayes fixed thanks for the heads up.

[2018-01-24 01:29] #40 closed

[2018-01-24 19:08] neutrinog opened #45 "error handling for null active language."
In https://github.com/ryandrewjohnson/react-localize-redux/blob/master/src/Localize.js#L17 where state is mapped to props you are retrieving the active language and immediately accessing the code property.

I'm encountering a race condition in which the locale has not finished initializing before Localize.js maps it's state. This is because I'm loading about 30 translation files and doing some ext

[2018-01-26 00:53] neutrinog opened #46 "Allow inserting react elements as arguments to translate"
It would be amazing if I could inject components into a string.

Let's suppose I have this translation
[code]

I'd like to be able to do this:
[code]

The result would be:
[code]

[2018-01-26 03:40] #44 closed

[2018-01-26 03:56] ryandrewjohnson commented on #46
Yea I will have to give that some thought. Right now any HTML is rendered by using React's [dangerouslySetInnerHTML](https://zhenyong.github.io/react/tips/dangerously-set-inner-html.html) prop.

In order to accomplish something like this you'd need something to convert a string version of JSX, and have that converted to fully rendered React component with props and state. I'm pretty sure there is

[2018-01-26 04:12] ryandrewjohnson commented on #45
I can't really know for sure without seeing your entire project, but the very first action creator you should be dispatching is [initialize](https://ryandrewjohnson.github.io/react-localize-redux/api/action-creators/#initializelanguages-options) before you do anything else. In most applications you would be calling this as soon as your app boots up. For example I usually make this call on my Root

[2018-01-26 04:17] ryandrewjohnson opened #47 "Fix broken "pass multiple translations to components" link in docs"
At the bottom of the [Getting Started](https://ryandrewjohnson.github.io/react-localize-redux/getting-started/) page
![image](https://user-images.githubusercontent.com/3419547/35425016-ba453d2a-0225-11e8-831a-c50b7a95c0b5.png)

[2018-01-26 18:01] marc-ed-raffalli commented on #47
Please review https://github.com/ryandrewjohnson/react-localize-redux/pull/48 for the fix

[2018-01-26 19:28] neutrinog commented on #45
In our case I'm calling initialize from within a thunk which loads the translations asynchronously.
Therefore introducing the race.

[2018-01-26 19:44] neutrinog commented on #46
Yes I agree this would be complicated. There is this library that converts HTML to a React tree https://github.com/aknuds1/html-to-react. However, this could quickly turn your tidy localize library into a monolith like some other localization libraries.

[2018-01-26 19:51] neutrinog commented on #46
To make things a little simpler you could potentially expose your translation rendering so that a custom renderer could be used. Then a plugin could be made that uses https://github.com/aknuds1/html-to-react.

That way all the work is not on you to maintaining that complicated piece.

[2018-01-26 22:25] neutrinog commented on #45
Another note regarding all of this.
My current fix of waiting until `getActiveLangauge` returns a non-null value does not completely work because it's possible for `translate` to be called before the first translation has been added since initializing and adding a language are two different actions.

Therefore the best solution in my case seems to simply create my own custom action that indicates

[2018-01-29 09:15] jamiedust opened #49 "Localize component doesn't work with redux-immutable"
Hi there, thanks for a great project, we are using this in our app.

The higher order component Localize does not work when using redux-immutable, this is because the mapStateToProps function expects to find the slice at `state[slice]`, whereas when using the redux-immutable combineReducers it saves the state as a Map.

This can be worked around, for example in our app we have used the normal comb

[2018-01-29 09:24] jamiedust commented on #49
I have submitted a pull request #50 which solves the issue described above.

[2018-01-29 13:56] ryandrewjohnson commented on #45
Thanks for the kudos - i'm glad you like the library.

Going back to this [example](https://github.com/ryandrewjohnson/react-localize-redux/issues/45#issuecomment-360921476) you provided. I'm still not sure why you are waiting to call `initialize` until after your files are loaded. If `files` in this case is your translation data you don't actually need this data for the `initialize` action. If yo

[2018-01-29 14:01] ryandrewjohnson commented on #49
Thanks for the PR. I will have a closer look when I get some time, but in the meantime if you used plain old `connect` instead of the `Localize` HOC like it's shown [here](https://ryandrewjohnson.github.io/react-localize-redux/getting-started/#5-translate-components) would that get around the issue you're having?

[2018-01-29 14:20] jamiedust commented on #49
Yes it does solve the problem, I wanted to avoid using connect in our app as we have a lot of smaller components. Although I was going to suggest that devs prefer passing translations as props rather than using Localize everywhere, as per your docs.

I would still rather use Localize HOC as its a bit cleaner and I can see other devs abusing connect if they see it being used in places where we othe

[2018-01-29 17:24] neutrinog commented on #45
`files` is a list of all my translations e.g. `English-en_US.json`, `German-de_DE.json`, etc.
From those file names I parse a list of languages that will be passed to initialize. Later I read each file and pass it to `addTranslationForLanguage`.

[2018-01-30 01:24] neutrinog opened #51 "Throw an error if string variables are not passed to translate."
Translation strings can have variables inside them e.g. `"hello":"Hello ${name}"`.

I'd like to have an error thrown if I forget to include the variable `name` when I do something like `translate('hello')`.

[2018-02-03 20:38] ryandrewjohnson commented on #47
Thanks @marc-ed-raffalli . Confirmed fix in #48.

[2018-02-03 20:38] #47 closed

[2018-02-03 21:28] ryandrewjohnson commented on #49
One thing to keep in mind is that Localize is just a facade around `connect`. So `connect` can still be abused by overusing Localize as well. You got the right idea though with passing translations down to child components.

[2018-02-03 21:31] ryandrewjohnson commented on #49
Confirmed fix from #50. This is available in v2.15.0.

[2018-02-03 21:31] #49 closed

[2018-02-03 21:34] jamiedust commented on #49
Great thanks!

[2018-02-03 23:09] ryandrewjohnson commented on #51
Thanks for the suggestion, but I'm not sure I agree with this approach. My main concern is that throwing an error may be severe for this particular user error. An uncaught error, especially in React 16, could result in the entire application not working. I would prefer this to be a recoverable error that would allow the application to continue working. For that reason I prefer the current function

[2018-02-04 03:23] ryandrewjohnson commented on #45
Thanks for the update - I understand your workflow now.

I have pushed a fix that prevents the uncaught error `Cannot read property 'code' of undefined` from being thrown if a user happens to `Localize` a component before they've dispatched `initialize`.

Fixed in #52

[2018-02-06 02:53] #45 closed

[2018-02-06 05:56] neutrinog commented on #45
awesome thanks!

[2018-02-06 05:59] neutrinog commented on #51
Good point. Yes I agree an error is probably too aggressive, while a warning would still get the developer's attention without causing too much trouble.

I'd be more than happy to send a PR with that implementation, however I won't have the time for a week or so. If you want to get it done quick that's great. Otherwise I'll see what I can do in about a week.

[2018-02-12 08:02] acerola1 opened #53 "Translate function in action creator"
Most of the time we use the translate function from components. A component gets the translate function as a property from connect.
My problem is that sometimes we must use the translate from an action creator. **I wonder if is there better way to access the translate function in an action creator than pass it to each action creator call?**
For example:
[code]

[2018-02-12 14:12] mehmetnyarar opened #54 "localizing <Link> (react-router-dom)"
Hi,

I'd like to provide links in the translation but they shouldn't reload the page.

Ways I have tried so far:

1. `"goto.homepage": "Go to <Link to='/home'>home page</Link>..." `

Translates but it's not clickable.

2. `"goto.homepage": "Go to ${link}..."`

Inside component:

[code]

Returns [object Object]

[2018-02-12 14:46] ryandrewjohnson commented on #54
The issue here is `<Link/>` is not a valid HTML element, but a React element. The library does not currently support Rect elements included in translations, as it is outside the scope of this library.

I'm going to close this issue as it's a duplicate of #46. Please feel free to continue the conversation in that issue.

[2018-02-12 14:46] #54 closed

[2018-02-12 14:52] ryandrewjohnson commented on #54
In the meantime, although not ideal I'd just split your translation strings:

[code]

[2018-02-12 14:58] ryandrewjohnson commented on #53
The `translate` function is really meant to be used at the component level. How about instead of trying to pass the already translated copy to the component you instead just pass the translation keys to the component. That component would then just need access to translate, and then would use the provided keys.

Using your example:

[code]
Now your error dialog gets passed the `modal.error.connect

[2018-02-12 18:39] mehmetnyarar commented on #54
@ryandrewjohnson thanks for your time. unfortunately that approach won't work for me since the structure of the sentence changes between languages (en, ru, tr).

I've created a child component which is basically a switch statement and returns JSX based on active language. For now it works for 3 languages but the solution won't scale once you have many.

[2018-02-13 08:32] acerola1 commented on #53
That was my first solution as well, but later on I have called the Error dialog with different patterns. It is hard to predict which property of the dialog I will use translate on and which one came from other parts of the application (eg. backend)  without translate in the frontend side.
For example:
[code]
It is not that important just bugged me if I can found a neater solution. I had a little t

[2018-02-15 12:02] Nikki1993 opened #56 "How do I translate smth like list of services?"
So, traditionally I would create an object smth like this

[code]

and then run my loop

[code]

Problem, however, with translations is that I have no idea how with default methods (without resorting to creating custom data) to pass multiple translations without manually adding them as props

`<Services {...translate(['ServicesList.Massage.title ...... '])}  />`

The bigger the list, the more manu

[2018-02-15 12:25] Nikki1993 commented on #56
So far, the only suitable way I found was to replicate the names in the list as an object and loop through em

[code]

[2018-02-15 21:15] #53 closed

[2018-02-15 21:28] ryandrewjohnson commented on #56
Sorry I don't understand the use case from what you've provided. If you're able to provide a link to the full source that may help.

[2018-02-20 14:18] ryandrewjohnson commented on #56
Thanks for the update, but the context I needed is still not included in this explanation. If you want my help I will need a working example to look at that shows the entire `react-localize-redux` implementation, with real translation data.

[2018-03-01 13:27] jamiedust commented on #49
Hi, I would like to reopen this issue, it appears that my fix does not in fact work after all, I misunderstood quite what an immutable Map was, and also didn't test this on my own app properly, as it was still in early development, apologies for that.

In order to check this correctly we need to import the Immutable Map object and do `Map.isMap()`. I have tested this in my own app using Immutable

[2018-03-01 13:29] jamiedust commented on #49
Pull request submitted. #57

Thanks for your time and sorry about this!

[2018-03-02 11:17] lmcjt37 opened #59 "Example for use with Server side rendering"
Is it possible to use this library with server side rendering out of the box?

Currently receiving errors for `TypeError: Cannot read property 'code' of undefined`

[2018-03-02 13:47] ryandrewjohnson commented on #59
I've never tried with SSR before so I'm not sure if it would work out of the box. I've done little with SSR myself, but if you're able to share your source somehow I can have a look.

[2018-03-02 13:48] ryandrewjohnson commented on #56
I'm going to close this for now as I haven't heard anything further. Feel free to reopen if you're able to provide the requested info.

[2018-03-02 13:48] #56 closed

[2018-03-02 14:29] lmcjt37 commented on #59
Unfortunately, it's company code and would take too long to decouple a sample to show you. Sorry.

I managed to get it working, but I am initialising for the server and for the client...seems a little strange, but for now it's working.

[2018-03-02 14:29] #59 closed

[2018-03-03 04:18] ryandrewjohnson commented on #49
Fixed in #58 and released in `v2.16.0`

[2018-03-16 13:28] FabulousCo opened #60 "Scanning the whole react app to generate a file containing all keys found"
I would like to use this package for my project, but there is a feature missing that I'd like to have with it though.

**A way to generate a file, containing all keys to translate, by scanning the whole react project and looking wherever I use the translate function.**

To give you some context:

I’d like to be able to give a default translation, that would be in English, directly in the code, sca

[2018-03-17 00:36] ryandrewjohnson commented on #60
I have been thinking about a way to try and allow for user's to insert the default language translations directly into components instead of having to use `translate(key)`, which can be hard to interpret when trying to search by copy in components. I have only thought about this high level, but it could look something like this:

[code]
Then instead of the user having to set the default language t

[2018-03-19 08:36] FabulousCo commented on #60
That makes sense. I like the idea of the translate component containing the default text. You could also simply add second optional argument to the translate function if you want to keep it consistent though.

[2018-03-27 17:57] vevmesteren commented on #36
Can one language be set as fall-back. When a translation missing I would want to display the English translation.

[2018-03-28 01:24] ryandrewjohnson commented on #36
@vevmesteren I'm most likely going to table this feature until the next major version release. The reason being that there are already three [options](https://ryandrewjohnson.github.io/react-localize-redux/api/action-creators/#initializelanguages-options) dedicated to the missing translations:

* `showMissingTranslationMsg`
* `missingTranslationMsg`
* `missingTranslationCallback`

These options ar

[2018-03-28 01:40] vevmesteren commented on #36
That'll do I'll figure something out with those.
Thanks

[2018-04-04 04:03] anjapadu opened #61 "webpack 4 e.search error"
I recently migrated to web pack 4 and found this error:
[code]

This is the only library that presents this error its something bad or could be a web pack bug?

[2018-04-04 13:11] ryandrewjohnson commented on #61
To confirm this is build error and not a runtime error?

[2018-04-05 20:35] ryandrewjohnson commented on #51
Closing this as there has been no further requests for feature.

[2018-04-05 20:35] #51 closed

[2018-04-07 00:45] ryandrewjohnson commented on #60
@FabulousCo I have just pushed a new version `v2.17.0` that has the new `<Translate />` component, which covers this request:

I have also updated the docs with a new [Translate](https://ryandrewjohnson.github.io/react-localize-redux/api/translate/) section.

I'm going to close this feature request, as the other request regarding scanning, as mentioned previously, is outside the scope of this libr

[2018-04-07 00:45] #60 closed

[2018-04-07 00:46] ryandrewjohnson commented on #61
Closing for now as no further information has been provided.

[2018-04-07 00:46] #61 closed

[2018-04-07 03:21] Qolzam opened #63 "Failed to compile Cannot find name 'TranslateChildFunction'"
Not sure why I got failed to compile.

I see `TranslateChildFunction` is inside the file but it can't find the name.
[code]

[2018-04-07 03:53] ryandrewjohnson commented on #63
If you’re using TypeScript and able to fix on your end and submit a PR that’d be great! I’m using flow when developing, so testing the TS definitions are tougher.

If not I’ll have to have a look tomorrow.

[2018-04-07 05:00] Qolzam commented on #63
I have created the pull request on #64. It solved my the problems but not sure if it's the best way.  TypeScript can't understand `TranslateChildFunction` function as a type so I have wrote a type for. Also I got error for `Component<TranslateProps>` which complained I can't use `Component` as a value, so I changed it to `React.Component`. Sorry for typo mistake on issue number 😞.

[2018-04-07 12:00] ryandrewjohnson commented on #63
Thanks a lot for your help on this one. I ended up having to make even more type fixes, so I just pulled the changes directly from your PR #64. I have published a new version `v2.17.2` which I hoping fixes all the type issues, but I did have to make one change that could result in some breaks. I had to rename the translate's function type which previously was using a type called `Translate` to `Tr

[2018-04-07 15:09] Qolzam commented on #63
Perfect 👍 I have just tested and all working well. I greatly appreciate your fast reply and quick fix.

[2018-04-07 16:50] ryandrewjohnson commented on #63
Thanks for your help on this one.

[2018-04-07 16:50] #63 closed

[2018-04-09 16:11] adamdharrington opened #65 "Mispelling"
@ryandrewjohnson one of our devs noticed a misspelling in one of the action types which is a fairly visible part of the app (all logger output would quote it). Are you happy if I open a PR with a fix or do you think it's something you need to support now?

Let me know your pref, I'm happy to contribute or to fork and PR if it's something you'd be likely to merge.

Cheers,
Adam

https://github.com/

[2018-04-09 18:46] tariellaelius opened #66 "Translate returning invalid value"
After updating to the latest version and switching to `<Translate>` from `localize()`, the following error logs to the console and the app doesn't render at all:
`Invariant Violation: Translate.render(): A valid React element (or null) must be returned.`
It happens when using `<Translate>` with the `id` property, but if I supply it a render prop function, everything works well. The code is pretty

[2018-04-09 18:55] ryandrewjohnson commented on #66
Looks like a typings error ... are you using Flow or TypeScript?

[2018-04-10 00:19] ryandrewjohnson opened #67 "Moving to version 3.0"
The [next major release](https://github.com/ryandrewjohnson/react-localize-redux/tree/v3) is in active development with the biggest update being the removal of the dependency on redux. By leveraging [React's new Context API](https://reactjs.org/docs/context.html) the library will now work without redux, while still providing the option to use redux for those users using it in their app.

-------

[2018-04-10 09:51] RikuVan commented on #66
I am using typescript and I just installed version v2.17.3 (from 2.16). I get Translate does not exist when trying to import it (other functions seem to be there if I `import * as T from 'react-localize-redux`).

[2018-04-10 13:08] gnyekhelyi opened #68 "Translate class import issue with TypeScript"
`import { Translate } from 'react-localize-redux';`
Throws:
`Module '".../node_modules/react-localize-redux/lib/index"' has no exported member 'Translate'.`

`import Translate from 'react-localize-redux';`
Throws:
`"export 'default' (imported as 'Translate') was not found in 'react-localize-redux'`

`import * as Translate from 'react-localize-redux';`
Throws:
`JSX element type 'Translate' does not

[2018-04-10 13:37] ryandrewjohnson commented on #68
@gnyekhelyi what version of react-localize-redux you using? Also are you using Typescript, and if so which version?

[2018-04-10 14:32] gnyekhelyi commented on #68
I'm using  react-localize-redux 2.17.3 and typescript 2.7.2.

[package.json.txt](https://github.com/ryandrewjohnson/react-localize-redux/files/1895036/package.json.txt)

[2018-04-10 14:40] ryandrewjohnson commented on #68
K problem is the fix I made to make in `2.17.3` didn't make it in. Currently the TS definition incorrectly exports Translate as default, which is incorrect.

[code]
I have the fix, but I won't be able to publish until this evening.

[2018-04-10 14:41] ryandrewjohnson commented on #66
@RikuVan see https://github.com/ryandrewjohnson/react-localize-redux/issues/68#issuecomment-380125253

[2018-04-10 14:52] gnyekhelyi commented on #68
Ok, thank you!

[2018-04-10 15:03] ryandrewjohnson opened #69 "Help me! support TypeScript definition"
This library uses [flow](https://flow.org/) for typings so it's easy enough for me to test that flow types are working as expected during development.

I have also done my best to support TypeScript as well by including a type definition with this library, but supporting this has become problematic. Since I'm not using TS for development I feel I don't get the proper test coverage before releasing

[2018-04-10 15:06] ryandrewjohnson commented on #68
@gnyekhelyi let me know if you have any interest in helping with #69.

[2018-04-10 15:55] RikuVan commented on #68
yep I had the same issue. Seems ok, although I am still refactoring now to update with the new api.

[2018-04-10 17:47] tariellaelius commented on #66
I have just updated to version 2.17.4 and the problem didn't go away. And my project is a JS project, not TypeScript. I've started to suspect it might be some version incompatibility between different packages, as I updated only `react-localize-redux` and not other packages. But then again, why would it work with a render prop function and not simply by `id` reference?

[2018-04-10 17:53] ryandrewjohnson commented on #66
Can you provide a copy of your package.json? That way I can try with the same dependencies you're using.

[2018-04-10 18:44] ryandrewjohnson commented on #66
Can I see the translation data for this `id="introduction"`?

[2018-04-10 18:55] tariellaelius commented on #66
[code]
Here is the data, just text replaced with dummy values to make it shorter. I'm not sure about what to post as a working example. I followed the documentation when doing all the other steps, which is probably confirmed by `localize()` and render prop functions working as expected. Still, if I can provide anything specific, let me know.

[2018-04-10 19:01] ryandrewjohnson commented on #66
I will need the exact translation data, not dummy values, as I'm suspecting the content could be the issue. I want to use it on my end to see if I can reproduce.

The difference between the render prop, and the passing id method is that copy will be run through `ReactDOMServer.renderToStaticMarkup`, which I'm suspecting may be having difficulties with the data being provided. This method does not

[2018-04-10 19:15] tariellaelius commented on #66
Here is the actual data:
[code]
But I did test with the dummy values, and it still gave me the error.

[2018-04-10 19:31] ryandrewjohnson commented on #66
K tested with that data and working fine on my end. Unfortunately there isn't much I can do if I can't reproduce. The only other thing I can suggest is if you can get a version running at https://codesandbox.io/ that is producing the same error, and then share that.

[2018-04-11 10:52] tariellaelius commented on #66
So I analyzed the source and located [the line](https://github.com/ryandrewjohnson/react-localize-redux/blob/70353b9ab97081b68a9bd2f49b5dbd89d00b3d9e/src/Translate.js#L122) that is causing the issue. React throws error because it is given a simple string to render as a component. I got it to work by replacing the corresponding line in the locally installed module with `React.createElement('div', {

[2018-04-11 11:40] tariellaelius commented on #66
I also discovered that if the translation data is an HTML string, like `"<div>some text</div>", then no error is thrown, app renders OK, but the elements described in the string are rendered within a `<span>`, though the elements themselves may be block-level elements, like `<div>` in this case, which goes against HTML best practices.

[2018-04-11 12:29] ryandrewjohnson commented on #66
As mentioned previously I really need to see a working example that is throwing the error to help out. Right now I don’t have a full view of your source.

Another option if you don’t want to provide your source is to fork this repo and create a unit test that reproduces the error, and then submit a PR. The Translate component has plenty of unit tests that you can look at for reference.

Finally, t

[2018-04-11 12:31] ryandrewjohnson commented on #68
Closing this issue based on RikuVan’s feedback.

[2018-04-11 12:31] #68 closed

[2018-04-11 17:43] tariellaelius commented on #66
I was able to reproduce the problem - [![Edit q4zq379o26](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/q4zq379o26) - and indeed, it happens with old version of React, `15.5.4` specifically. Updating React to the latest version fixes the problem. Still, digging deeper into the source, I found that [getLocalizedElement](https://github.com/ryandrewjohnson/react-lo

[2018-04-11 18:01] ryandrewjohnson commented on #66
Thanks for taking the time to put this together. I will take a closer look at this when I get some time, but my guess it has to do with React 16 supporting [fragments and strings](https://reactjs.org/blog/2017/09/26/react-v16.0.html#new-render-return-types-fragments-and-strings), while older versions of React do not. I'm guessing there is a scenario in the `Translate` component that results in one

[2018-04-12 01:51] ryandrewjohnson commented on #66
I have just published `v2.17.5` where I have update the peerDependency in the package.json to `"react": "^16.0.0"`, which will now warn user's when installing an older version of React.

I have also updated the documentation with callouts for those using older versions of React along with a new entry in the FAQ page [Can I use Translate component with React 15.x.x?](https://ryandrewjohnson.github.

[2018-04-12 05:32] tariellaelius commented on #66
Great! I'm glad I was able to help.

[2018-04-12 12:51] #66 closed

[2018-04-13 20:19] meta-chris opened #70 "Translate Utility func"
Hello there,

First of all, wonderful work here. After reviewing the docs I began implementing this into a project and everything has been very smooth! The Translate component is my mvp; prevents me from having to hook up simpler components to the store.

One issue I've run into is translating attributes on components.
Let's take the placeholder attribute on the input element for example.

[code]

[2018-04-13 21:10] ryandrewjohnson commented on #70
First off thanks for the kind words. Now in regards to your issue if I'm understanding you correctly the [translate](https://ryandrewjohnson.github.io/react-localize-redux/api/selectors/#translatekey-string-string-data-options) function you describe actually already exists.

In order to get access to the translate function you have a few options:

Use Translate's render props API - see [Flavour 2]

[2018-04-13 22:48] ryandrewjohnson commented on #70
Nice! I like this  syntax `translate("placeholder1") || "Email Address"` for keeping the default language while using translate - should probably add it to the docs.

Going to consider this issue closed.

[2018-04-13 22:48] #70 closed

[2018-04-14 09:59] adamdharrington commented on #65
Cheers Ryan, sorry it took a few days to get around to doing that :nerd_face:
I'm not sure how many people will have bound to the action name in their reducers/tests so I'm not sure how you'd want to version this but here it is anyway.

[2018-04-15 02:33] ryandrewjohnson commented on #65
Although the changes are minor they are still technically breaking changes. For that reason the fix will be included in the v3 release. See #71 for more detail.

Thanks again for your help @adamdharrington.

[2018-04-18 13:37] adamdharrington commented on #65
No problemo happy to help, best of luck with v3

[2018-04-26 02:28] ryandrewjohnson commented on #67
The release candidate is ready for those that wish to try out `v3.0.0`.

To Install:
[code]

The official docs for the new version are still in the works, but for now be sure to have a look at [the basic example](https://github.com/ryandrewjohnson/react-localize-redux/tree/v3/examples/basic) in v3 branch. It has an example app which gives a basic implementation demo.

To run the basic example, run

[2018-04-27 09:42] RoberMac opened #72 "Use `<Fragment>` instead of `<span>` as root element ?"
![image](https://user-images.githubusercontent.com/4065233/39356329-5602aaea-4a42-11e8-9b2d-64eac9f35cea.png)

[2018-04-27 15:45] #72 closed

[2018-05-03 22:41] juanjoslopezv opened #73 "Unable to resolve module `react-dom/server` from `/...[path to your user folder]/...[project]/node_modules/react-localize-redux/lib/Translate.js"
When using this library in a React Native app its not able to compile due to the fact that React-Dom is not available for a React Native App.

Commenting out these lines in:
lib/Translate.js

14 // var _server = require('react-dom/server');
15
16 // var _server2 = _interopRequireDefault(_server);
.
.
.
118  // var translation = _server2.default.renderToStaticMarkup(children);
119  // var defaultLa

[2018-05-15 08:09] husni1992 commented on #73
Any solution for this issue? The version of localize library has not changed, but after running a npm install I got this issue. It's very bad that there's a breaking change without a version change. Very disappointing.

[2018-05-16 00:30] ryandrewjohnson commented on #73
@husni1992 while I understand you frustration I myself have never done any development in React Native, or claimed this library would work out of the box with it. Unfortunately the latest changes in `v2.17.0` had an unforeseen impact on React Native as it doesn't support `react-dom`.

Unfortunately I don't have much bandwidth to look into this issue right now. For now I suggest downgrade to `v2.16

[2018-05-18 01:51] ryandrewjohnson commented on #73
@husni1992 @juanjoslopezv I have developed a work around for this issue that will be available in the next major release, which you can read about here (Moving to v3 #67).

Unfortunately I could not find a viable option to replace react-dom's `renderToStaticMarkup`. Instead I have added a new required option for initialize named `renderToStaticMarkup`, which will work differently depending on whet

[2018-05-23 05:50] thchia commented on #46
I have done a draft implementation of how I think this could be achieved without any major breaking changes*.

https://github.com/thchia/react-localize-redux/tree/data-component

The basic idea is that you can pass a React Component to `data` like so:

[code]

This is achieved by converting the `templater` function to return a string if there are no React components in `data` (like normal). If the

[2018-05-23 22:15] priyankmtr commented on #67
i am using "react-localize-redux": "^3.0.0-rc3". but i could not find `<LocalizeProvider /> `as mentioned in given office docs link. BTW, basic example link is also not working.

[2018-05-24 02:41] ryandrewjohnson commented on #46
@thchia thanks for putting this together. Unfortunately I don't have much bandwidth to look into your solution, as what little time I do have right now is going towards getting v3 #67 ready. Once that is published I'll have some time to take a closer look at this. In the meantime maybe have a look at v3, as there are some significant changes that would most likely impact this implementation.

[2018-05-24 02:45] ryandrewjohnson commented on #67
@priyankmtr can you elaborate on what you mean by "I could not find"? I just installed the `react-localize-redux": "^3.0.0-rc3` and ran the demo, and it appears to work fine.

Also I've updated the broken basic example link.

[2018-05-24 03:15] thchia commented on #46
No worries, it's a fairly rough implementation anyway. In the meantime I will take a look at v3 and try to do a similar thing there.

[2018-05-24 19:54] Medardas commented on #73
Great work man, appreciate you still maintaining the project!
For me 2.16 will work for now. Any idea when you plan to deliver next release?

[2018-05-25 01:42] thchia commented on #67
@priyankmtr are you sure that you have installed the library? It doesn't show up in your dependencies, and if you use npm > v5 it should autosave.

[2018-05-25 02:28] ryandrewjohnson commented on #73
@Medardas it should be ready soon. I'm just working on creating the migration guide, and ironing out a few things with the type definitions.

If you like I've just published the latest release candidate that contains the fix discussed in my [previous comment](https://github.com/ryandrewjohnson/react-localize-redux/issues/73#issuecomment-390070185). I have also updated the v3 doc with this info as

[2018-05-27 06:06] RoberMac opened #77 "`getTranslate` not working well with PureComponent"
Here is my code:
[code]

MyComponent will re-render every time when `getTranslate` was called.

[2018-05-28 01:48] ryandrewjohnson commented on #77
I'm not too sure what the outcome would be of wrapping a PureComponent with `connect`, as `connect` itself is a PureComponent. Essentially these two things are doing the same thing, which in itself may cause some unanticipated results.

I would start by just extending Component, and let `connect` do it's thing. Far as re-rendering, the `getTranslate` selector uses [reselect](https://github.com/red

[2018-06-03 01:07] ryandrewjohnson commented on #67
@thchia if you have time to do a PR with some tests covering the issue that would be much appreciated. I'm just getting things wrapped up with the v3.0 launch, so if you're able to tackle this before I release on Monday that'd be amazing.

[2018-06-03 02:59] thchia commented on #67
@ryandrewjohnson opened in #79. I appreciate you accommodating my contribution efforts 😄

[2018-06-04 01:57] ryandrewjohnson commented on #65
Now fixed in [v3.0.0](https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v3.0.0).

[2018-06-04 01:57] #65 closed

[2018-06-04 01:58] ryandrewjohnson commented on #67
[v3.0.0 now released!!](https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v3.0.0)

[2018-06-04 01:58] #67 closed

[2018-06-04 01:59] ryandrewjohnson commented on #38
Closing due to inactivity.

[2018-06-04 01:59] #38 closed

[2018-06-04 02:01] ryandrewjohnson commented on #36
I'm considering this closed with the release of [v3.0.0](https://github.com/ryandrewjohnson/react-localize-redux/releases/tag/v3.0.0).

See [Handle missing translations](https://ryandrewjohnson.github.io/react-localize-redux-docs/#handle-missing-translations) in the new docs for details.

[2018-06-04 02:01] #36 closed

[2018-06-05 01:17] ryandrewjohnson commented on #73
Issue has been fixed in v3.0.0 release.

See [Can I use React Native?](https://ryandrewjohnson.github.io/react-localize-redux-docs/#can-i-use-react-native) for details.

[2018-06-05 01:17] #73 closed

[2018-06-05 15:59] gabroe opened #82 "Immutable JS broken on V3"
Looks like `LocalizeProvider` immutable stores are not supported,  if store is a Map then `localize` should be retrieved using `get('localize')`:

`const curLocalizeState = this.props.store.getState().localize;`

See:

https://github.com/ryandrewjohnson/react-localize-redux/blob/master/src/LocalizeProvider.js#L73

[2018-06-06 01:54] ryandrewjohnson commented on #82
I myself don't use ImmutableJS, so I'm not familiar with how it. I had someone who works with ImmutableJS help me with the v2 support. If you are an ImmutableJS user I'd appreciate if you're able to submit a PR with a fix since you'll be able to properly test it.

[2018-06-06 14:48] gabroe commented on #82
Got it, I'll work on it hopefully this week!

[2018-06-07 00:35] ryandrewjohnson commented on #82
Let me know if you have any questions along the way. And be sure to check out the [pull request template](https://github.com/ryandrewjohnson/react-localize-redux/blob/master/.github/PULL_REQUEST_TEMPLATE.md) for details on contributing. Looking forward to the PR - thanks again.

[2018-06-10 12:17] simoberny opened #83 "Block console logs"
Neither a bug nor a feature request but i'am wondering if there's a way to suppress all the localization action logs in the console.

When i change language i got 5/6 log message, one for every component with localize.
Despite from this the library works like a charm

react-localize-redux 3.0.1

[2018-06-10 17:14] ChalomEllezam opened #84 "Warning: Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to `componentWillMount`."
**Do you want to request a _feature_ or report a _bug_?** I want to request a bug

**What is the current behavior?** i got this message in my warning console : "Warning: Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be

[2018-06-11 02:15] ryandrewjohnson commented on #83
This is from a `console.log` that was left in `LcoalizeProvider` from debugging, and should be removed. I don't have time to get to it tonight, but if you can submit a PR with that line removed I should be able to publish tomorrow.

[2018-06-11 05:03] stanleyyuenyiu opened #85 "Extremely Slow when a language file is getting large"
Assume 3 Languages, each language contains 600 translations

Assume 10 pages, each page avg using 30 unique translations

Step 1: navigate to each page (using react Route)
Step 2: switch lang after visited all pages

Excepted result: execute time within 500ms

Actual Result: execute time >=7000ms

Additional
execute time will be within 300ms, if translations less than 200

[2018-06-11 12:38] ryandrewjohnson commented on #85
Can you create an example that reproduces the slowness in codesandbox?

[2018-06-12 01:32] ryandrewjohnson commented on #46
@thchia I've officially added you as a collaborator. Thanks for all your help, and feel free to assign any issues you want to work on to yourself.

[2018-06-12 01:46] ryandrewjohnson commented on #84
@thchia at first glance this looks good. Good point on the `renderChildren` function being called in render, as that is a bad pattern. Also I agree this design is much more clean and follows the "React" way more closely. One thing though .. in order to avoid this being a breaking change we should still explicitly export `Translate` instead of the default export in your example.

So maybe something

[2018-06-12 01:55] ryandrewjohnson commented on #83
Fixed and published in `v3.0.2`.

[2018-06-12 01:55] #83 closed

[2018-06-12 01:57] ryandrewjohnson commented on #77
Closing due to inactivity.

[2018-06-12 01:57] #77 closed

[2018-06-12 01:59] thchia commented on #84
@ryandrewjohnson in the PR (#88) I've done just that (there's also a better explanation of the issue and the proposed changes). I called the "old" `Translate` "WrappedTranslate".

As far as I can tell, the props and children stay the same. The only difference is that "WrappedTranslate" has an additional `context` prop, but this is passed internally as it were, not by the user, so I think the publi

[2018-06-12 09:38] thchia opened #89 "Should `initialize()` accept `ignoreTranslateChildren`?"
**Do you want to request a _feature_ or report a _bug_?**
Possibly bug, but would like to confirm.

**What is the current behavior?**
In v2, you could dispatch the `initialize` action with an option to `ignoreTranslateChildren`. It seems that functionality no longer exists, and I'm wondering if it is intentional or not.

**What is the expected behavior?**
To be able to call the `initialize` prop f

[2018-06-12 16:58] neutrinog commented on #46
Just wanted to say it's exciting to see the potential for this feature!

[2018-06-12 22:27] achen0115 opened #90 "How to translate outside of react component?"
**Do you want to request a _feature_ or report a _bug_?**
_question_ / _feature_

**How to translate outside of react component?**
I wonder if there is a better way to translate strings outside of react components instead of passing translate function every time.

**Which versions of `react` and `react-localize-redux` are you using?**
react 16.4.0
react-localize-redux 2.17.5

[2018-06-13 00:00] ryandrewjohnson commented on #89
In v3.0 the `ignoreTranslateChildren` was purposefully removed from `initialize` options, and instead added as an [option](https://ryandrewjohnson.github.io/react-localize-redux-docs/#translate-2) to `Translate`.

The original thinking is this option was more likely going to be used as an individual override rather than something that someone would want to set globally. Do you foresee a use case w

[2018-06-13 00:11] ryandrewjohnson commented on #90
I recommend looking at [v3.0](https://ryandrewjohnson.github.io/react-localize-redux-docs/) as that is the latest greatest, and will offer you the most amount of options.

If upgrading to a major release is not an option then look at `v2.17.5`, which includes the [Translate](https://ryandrewjohnson.github.io/react-localize-redux/api/translate/) component as an option for inserting translations.

E

[2018-06-13 01:42] thchia commented on #89
Fair point, it happens that in v2 I was using 'global' flag so for me personally, having the option back would be helpful.

This possibly ties into #85 - I had originally used this setting because of some choking/blocking when rendering a component where `addDefaultTranslation` was called multiple times. Since I switched that off the issue slipped from my mind but perhaps it's a good time to revis

[2018-06-13 01:50] ryandrewjohnson commented on #89
Ok if you would like to go ahead and create a PR with the addition that's fine with me. In addition to the source updates the [docs](https://github.com/ryandrewjohnson/react-localize-redux-docs) will need to be updated as well.

[2018-06-13 03:39] thchia commented on #84
Fixed in #88.

[2018-06-13 03:39] #84 closed

[2018-06-13 04:39] thchia commented on #85
This caught my attention because some time back I encountered a related issue. If I was navigating from (say) one page to another (using react-router), there would be a noticeable delay between clicking the `Link` and the subsequent page rendering.

I avoided it at the time by disabling the default translate option, but this is obviously 1) a workaround and 2) not addressing the underlying issue.

[2018-06-13 16:12] #90 closed

[2018-06-13 16:33] ryandrewjohnson commented on #85
@thchia interesting findings. I just did some JSPerf tests to confirm the array.reduce vs for-loop speeds, and it looks like you're right. When acting on a low count of records the array.reduce outperforms the forloop. But crank up the record count and the reverse is true, which is showing in your tests.

At least with this arbitrary test it's showing a HUGE diff when the list.length gets high.

#

[2018-06-14 07:55] stanleyyuenyiu commented on #85
Thanks for the sharing, but as the case of using this plugin, it doesnt pass our standard, therefore, we change to use react context directly, where no delay, and all translate request within 200ms for >600 translation keys

here is my sharing

LanguageProvider:

`import React from "react";
import { connect } from 'react-redux';
import get from 'lodash/get'

const LanguageContext = React.createCon

[2018-06-15 02:20] ryandrewjohnson commented on #85
I have created a PR to start tracking the work on these performance improvements. #92

[2018-06-15 07:17] stanleyyuenyiu commented on #85
will check next week

[2018-06-16 14:48] mtrelis opened #93 "Docs: all links are broken"

[2018-06-18 00:43] ryandrewjohnson commented on #93
Thanks for the heads up. Issue has been fixed.

[2018-06-18 00:43] #93 closed

[2018-06-18 01:40] ryandrewjohnson commented on #85
Fixed in #92.

[2018-06-18 01:48] ryandrewjohnson commented on #85
@stanleyyuenyiu I've just published a new version `v3.1.1` that has the performance improvement fixes. If you could give it a try when you get a chance, and let me know if it improves any of the issues you were having that'd be greatly appreciated.

[2018-06-18 01:49] ryandrewjohnson commented on #82
@gabroe any progress on this one?

[2018-06-18 14:37] colbyfayock opened #94 "Disable Action Logging"
**Do you want to request a _feature_ or report a _bug_?**
Add an option to disable client logging

**What is the current behavior?**
Logs actions of LocalizeProvider

![image](https://user-images.githubusercontent.com/1045274/41542685-82fd699e-72e3-11e8-8035-dc35a9c8079c.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Y

[2018-06-18 15:53] ryandrewjohnson commented on #94
If you bump up to `v3.1.1` this is gone.
https://github.com/ryandrewjohnson/react-localize-redux/commit/5dc360c3dd61e005219e427edbee46d9cc676547

[2018-06-18 15:53] #94 closed

[2018-06-18 16:06] colbyfayock commented on #94
that worked 👌 ty

[2018-06-19 09:43] thchia commented on #82
@ryandrewjohnson if it's helpful I can roughly re-implement how it worked in v2.

It will expand the public-facing API though - since I think in v2 this was achieved by allowing the user to pass in a handler for selecting the `localize` state. I don't use ImmutableJS either so verifying will be harder (but not impossible...).

[2018-06-20 01:29] ryandrewjohnson commented on #82
@thchia I think a similar approach can be taken that was used on v2, but instead of adding the `getState` function as an initialize option we can just have another optional param directly on `LocalizeProvider`. That way it doesn't muddy up the initialize options any further, especially since this use case will most likely only be used by redux users using ImmutableJS.

So I think it would be somet

[2018-06-20 01:50] thchia commented on #82
@ryandrewjohnson yup that was what I was thinking regarding the prop on the Provider.

I probably won't be able to do anything till the weekend so if you want to jump in before that please do 😄 .

[2018-06-20 03:42] thchia opened #95 "TypeScript definition of withLocalize"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
[code]

Because the type definition of `withLocalize` returns a Component that lists `LocalizeContextProps` in its props, the compiler expects that the component created by wrapping with `withLocalize` is explicitly passed these props.

**What is the expected behavior?**
Should be able to render `Wrapp

[2018-06-20 16:09] benkeen opened #96 "Feature suggestion/question: access to initialize/addTranslationForLanguage without HOC"
Hi, great project! Quick feature request / "can-I-do-this" question.

We were using an earlier version of this lib which allowed for initializing the global localization data like so:

[code]

This was exceedingly convenient. But with the latest version, I see it now requires a HOC using `withLocalize` to initialize and set the data:
https://ryandrewjohnson.github.io/react-localize-redux-docs/#ini

[2018-06-20 16:20] ryandrewjohnson commented on #96
Thanks for the question.

So now that the latest version is no longer dependent on Redux the entire React implementation is all taken care of in `LocalizeProvider`. This was to keep the API, and instructions for use as similar as possible for both Redux and non-Redux users.

That being said there are a couple options if the `withLocalize` HOC doesn't work for you:

1. You can access use [LocalizeC

[2018-06-20 16:36] benkeen commented on #96
Thanks, @ryandrewjohnson! I appreciate the explanation, that make sense.

It doesn't look like option 2 will work: after upgrading I noticed the actions were firing fine, but the store didn't end up getting the expected `locale` top-level property. It's possible I goofed somewhere, but if it's an undocumented option, I'd have shied away from using it anyway. So it's probably good. :)

I think with

[2018-06-20 17:41] ryandrewjohnson commented on #96
Yea if your plan is to just create another component that wraps `LocalizeContext` then there isn't much point, as that is essentially what `withLocalize` is.

[2018-06-21 01:59] ryandrewjohnson commented on #95
Are you able to post an codesandbox example that is showing the TypeScript error? I have a TypeScript version of the demo running on my end, and I'm not getting any TS warnings or errors.

[2018-06-21 03:20] thchia commented on #95
https://codesandbox.io/s/zzwly08j54

(Note that TS compiler errors can only be seen in the editor - Codesandbox outputs expected HTML in spite of TS compiler errors)

[2018-06-22 01:23] ryandrewjohnson commented on #95
@thchia interesting I can't reproduce this error on my end, but I can definitely see it in your example. I just had a read through [this article](https://medium.com/@jrwebdev/react-higher-order-component-patterns-in-typescript-42278f7590fb), and it pretty much describes the scenario you put forth.

If we are concerned about the change TypeScript version I'd prefer to use `Subtract` from the `utili

[2018-06-22 02:46] thchia commented on #95
@ryandrewjohnson I meant to reference that article - it's the same one I was looking at!

I agree that bumping the major version is extreme.

My only issue with using the `utility-types` package is that it requires TS >v2.7.2 for v1 and TS 2.8 for v2 (which is not a wide range of versions). Furthermore if we decide to go with v2 and only support TS2.8, this issue can be resolved by us (using `Excl

[2018-06-23 00:00] ryandrewjohnson commented on #95
@thchia I'm fine with using the TS 2.8 method if you feel that's best. In my opinion I don't think the Type Definition should have any impact on the versioning of the library, so I think you're fine to go ahead with that if you like.

[2018-06-23 02:59] thchia opened #97 "Default Translations not added"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Default translations are not added. Instead the `"Missing translationId..."` text is displayed.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your J

[2018-06-23 03:39] ryandrewjohnson commented on #85
Closing this due to inactivity. Please re-open if issue persists.

[2018-06-23 03:39] #85 closed

[2018-06-23 08:00] thchia commented on #46
Tracking this in #100

[2018-06-26 18:34] colbyfayock opened #101 "onMissingTranslation defaultTranslation variable parsing"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Having a variable with a proceeding dollar sign doesn't render as expected when coming from an `onMissingTranslation` callback;

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run you

[2018-06-28 10:03] thchia commented on #101
@colbyfayock Appreciate I'm a little late here - maybe your codesandbox has changed, but the exception is created because `defaultTranslation` is undefined.

That in turn is because: `<Translate {...props} />` has no children.

[2018-06-28 12:49] colbyfayock commented on #101
no worries :) thanks for taking a look

[2018-06-29 06:15] invivtas92 opened #102 "Help with React-Redux connect - Could not find "store""
Hi,

I am having issues when trying to use react-redux connect to connect React component to redux store.

I have looked at the redux helpers examples here https://ryandrewjohnson.github.io/react-localize-redux-docs/#redux-helpers and it looks like it should work with react-localize-redux.

I used the code sandbox demo (https://codesandbox.io/s/14xp1xy9ql) and added react-redux to the dependencies

[2018-06-30 02:13] ryandrewjohnson commented on #102
Are you able to provide a codesandbox example of the error?

[2018-06-30 12:06] invivtas92 commented on #102
Here is the sandbox link with the error https://codesandbox.io/s/81450lm8k8.

[2018-07-01 01:58] invivtas92 commented on #102
Yes, I initially thought LocalizeProvider is meant to replace react-redux's Provider. Wrapping the application with Provider and LocalizeProvider as follows seems to solve the issue (assuming this is the proper way of doing it)

[code]

[2018-07-03 10:46] rohan-buchner opened #103 "Uncaught TypeError: mergedOptions.onMissingTranslation is not a function"
I'm not sure if this is a bug or a feature, as its kind of jumping outside of the bounds of the documentation.

I currently have a boot-server file where I follow [Option 2](https://github.com/ryandrewjohnson/react-localize-redux/issues/96) from this thread using the exposed action creators, as I inject the localisations once off during server render. (this was how I injected the localisations in

[2018-07-04 03:58] thchia commented on #103
@rohan-buchner I am guessing that the `app` in your code snippet is eventually rendered using one of the `ReactDOM/server` render methods? (e.g. `renderToString()`)

If so my initial guess is that the store is not subscribed to properly, because this subscription happens in `componentDidMount()` which is not called on server render.

If possible can you create a minimal repro on CodeSandbox - it m

[2018-07-04 08:44] rohan-buchner commented on #103
@thchia thats correct.

Erm its somewhat difficult for me to create a minimal repo as i have a dotnetcore based project so my ssr is handled via that (internally is still uses node... but its a black box to me)... but i will see if i can maybe get something bashed out in a mutual language we both can work/debug from.

I 100% agree with your first guess actually... componentDidMount does not get ca

[2018-07-04 11:01] thchia commented on #103
Let me try and reproduce this to confirm the issue (though can’t promise on speed as I’m quite busy).

If it is indeed what I guessed above then we can consider it a bug and it is definitely something that should be addressed 🙂.

[2018-07-05 17:37] JemarJones commented on #102
@invivtas92  I thought the exact same, its very misleading the way its laid out in the documentation.

[2018-07-10 00:56] ryandrewjohnson commented on #103
@rohan-buchner I've never done server side rendering on my end with the library, so I'm hoping you can help me out with some testing.

This is the snippet of code that is currently called from `componentDidMount` in `LocalizeProvider`.

[code]
Locally in your app can you edit the `LocalizeProvider` code and insert this under the existing logic in the constructor, and remove the `componentDidMount`

[2018-07-10 02:47] ryandrewjohnson commented on #101
@colbyfayock I've published a new version `v3.21.` that should fix this issue. As discussed it will default to the first language for default language when not set.

Please let me know if this works for you.

[2018-07-10 12:57] colbyfayock commented on #101
@ryandrewjohnson it definitely no longer throws an exception, though it doesn't seem to be defaulting to the first value for me 🤔 I updated that code sandbox above to `v3.2.1` to show, when clicking **To ES**, it doesn't error, but doesn't default to `en`: https://codesandbox.io/s/7rwkqzr7x

Additionally, any chance you thought about a solution for the parsing of the variables? as you'll see in th

[2018-07-10 13:00] ryandrewjohnson commented on #101
@colbyfayock  I will need to spend some time to try and create a test that mimics this scenario. I'm not sure when I'll have time to do this as I'm pretty busy right now. If you have some time feel free to investigate, and submit a PR if you find the solution.

[2018-07-10 13:07] colbyfayock commented on #101
@ryandrewjohnson no problem, I'll try and take a look - I was originally going to but was having trouble trying to spin up the project in the browser, i'll take another shot at it 👍

[2018-07-10 17:32] colbyfayock commented on #101
@ryandrewjohnson got it working, let me know what you think

[2018-07-13 04:40] andreystarkov opened #108 "Wrong link on github repo at docs"
"Project on Github" at doc's navigation sidebar is wrong.

Btw, thank you for the project!

[2018-07-13 11:17] samuelg0rd0n opened #109 "How do I translate strings outside of the component?"
Thank you for the library. I really love it. I have just one problem. How do I translate a string outside of the React component? For example I modify a Pikaday plugin like this:

[code]

I cannot use Translate component in such case. I need a plain function (`translate` in this case). How can I achieve something like that with `react-localize-redux`? Thank you.

[2018-07-13 13:06] ryandrewjohnson commented on #109
This is a good question, and has pointed out a gap in the docs as this is totally doable:

When you wrap your component with the [withLocalize](https://ryandrewjohnson.github.io/react-localize-redux-docs/#withlocalize) HOC that component gains access to all the props in [LocalizeContext](https://ryandrewjohnson.github.io/react-localize-redux-docs/#localizecontext) including the [translate](https:/

[2018-07-13 13:10] samuelg0rd0n commented on #109
@ryandrewjohnson Thank you very much. Yes, that's exactly what I was looking for :-) And once again thanks for your awesome library.

[2018-07-13 13:10] #109 closed

[2018-07-14 02:11] ryandrewjohnson commented on #101
Fixed in #110

[2018-07-14 02:11] #101 closed

[2018-07-18 17:43] Ethorsen opened #111 "Whole app is being updated each time a redux state is changed, bug with 3.2.3"
**Do you want to request a _feature_ or report a _bug_?**

Bug since v3.2.3 when using with redux

**What is the current behavior?**

The whole app is re-rendering whenever a redux state changes.  That behavior is not present in 3.2.2

JSFiddle with 3.2.3 illustrating the problem.
https://jsfiddle.net/g3sb14n9/

JSFiddle with 3.2.2 and exact same code, without the problem
https://jsfiddle.net/erah

[2018-07-19 08:39] kenhuang commented on #111
Confirm serious performance issue in `3.2.3`, we have to fix our app like this:

[code]

[2018-07-19 16:01] ryandrewjohnson commented on #111
Thanks for catching this .. I will look at this today.

[2018-07-19 18:57] ryandrewjohnson commented on #111
@Ethorsen @kenhuang thanks again for catching this and providing those great examples. I've just published a fix that should take care of the issue. @Ethorsen when updating your original JS fiddle with `3.2.4` it looks good now, but if you could just confirm on your end that would be great.

For those interested the culprit was from a change [here](https://github.com/ryandrewjohnson/react-localize

[2018-07-20 14:24] Ethorsen commented on #111
So far so good

[2018-07-21 00:41] ryandrewjohnson commented on #111
Going to consider this one fixed. Please reopen if issues persist.

[2018-07-21 00:41] #111 closed

[2018-07-26 01:34] #82 closed

[2018-07-26 11:35] samuelg0rd0n commented on #59
@lmcjt37 Could you elaborate a bit on how you solved this? Thank you.

[2018-07-26 12:18] ryandrewjohnson commented on #59
@samuelg0rd0n this issue was opened previous to the latest major version of the library (3.0). If you are on the latest version have a look at this open issue #103 . This issue is related to server side rendering and I really need someone who is using server side re seeing to test for me. Have a look and let me know if you can help.

[2018-07-26 12:44] samuelg0rd0n commented on #103
@ryandrewjohnson I'll be happy to help you. I'm just not sure what exactly you mean by editing the `LocalizeProvider` code. I have a react-localize-redux package in node_modules. What file exactly should I modify? lib/LocalizeProvider.js?

[2018-07-26 13:03] rohan-buchner commented on #103
@ryandrewjohnson whoa... I seem to have disappeared in the void... we had some flu going round at the office... let me take a stab at that and let you know whats up. sorry for the delay in my response. thanks for the snippet

[2018-07-26 15:26] issaaccbb opened #113 "Multiple addTranslationForLanguage() calls duplicate the language in Redux"
Hello! I don't make issues often, so don't get mad at me 😃

When adding a second translation file with `addTranslationForLanguage()`, that language is duplicated and will break translate calls. In Redux, it shows up as a second language, code name and "active".

I would assume that `addTranslationForLanguage()` would merge the 2 objects together.

[code]

[code]

[2018-07-27 12:04] issaaccbb commented on #113
I can't get typescript or the dependencies to run on that website 😞. The last time i tried to program in pure javascript was before i needed classes.

[2018-07-31 02:08] ryandrewjohnson commented on #113
You shouldn't need TypeScript to create a working demo. If you like you can just fork the [existing demo](https://codesandbox.io/s/14xp1xy9ql), and recreate the error there.

[2018-07-31 06:16] djKooks opened #114 "Setting for missing ID"
Hello
I'm first using this module, so not sure if this is discussed or not before.
I set the language like below:
[code]
and when I set the language as 'ja'(2nd item in array), it shows "app.apps" as `Missing translationId`.
Why I do it like this is, I want to show string 'Apps' as english regardless of language setting.
How do you think about make an option whether to allow showing the first item

[2018-07-31 07:57] djKooks opened #115 "State of param 'activeLanguage'"
When I try to get `activeLanguage` value after initialize, it found it cannot get any data.
[code]
In this case, value `activeLanguage` returns undefined. When I set `activeLanguage` to `render()`, it fails to receive on the first time, but being updated later.
Am I doing something wrong?

[2018-08-02 02:15] ryandrewjohnson commented on #115
Please update to follow the projects issue template, and include a working example demonstrating the error in codesandbox.io.

[2018-08-03 02:38] ryandrewjohnson commented on #114
Please read the docs before submitting an issue. There is an example clearly stated in the docs for setting default language in place of missing translation message in the [Handle missing translations](https://ryandrewjohnson.github.io/react-localize-redux-docs/#handle-missing-translations) guide.

[2018-08-03 02:38] #114 closed

[2018-08-07 05:39] h4mit commented on #109
Hi, i use in feature but showin "Missing translationId: LIST.name for language: ${ languageCode }". 😢

[code]

and listTranslations "list.json"
[code]

[2018-08-10 07:00] oisti opened #116 "Translation with placeholder, 0 as data attribute value"
Translation placeholder not repaced if the data attribute value is 0.
[code]
Result: Number ${zero}, 1

[code]

[2018-08-10 14:43] ryandrewjohnson commented on #109
@h4mit please follow the [issue template](https://github.com/ryandrewjohnson/react-localize-redux/blob/master/.github/ISSUE_TEMPLATE.md) when submitting an issue. Without a working example to look at I can't be of much help.

[2018-08-10 14:43] ryandrewjohnson commented on #113
Closing this due to no activity.

[2018-08-10 14:43] #113 closed

[2018-08-16 14:38] ryandrewjohnson commented on #116
Fixed in #117 and released in `v3.3.1`.

[2018-08-16 17:42] #116 closed

[2018-08-17 05:50] oisti commented on #116
Thank you!

[2018-08-21 17:02] xanaxx commented on #102
@ryandrewjohnson this thing is still in docs.

https://ryandrewjohnson.github.io/react-localize-redux-docs/#what-if-i-want-to-use-redux

I think it should be like in invivtas92 comment.

[2018-08-25 18:54] ryandrewjohnson commented on #102
@DGulshan please feel free to submit a PR With this update in the docs repo.
https://github.com/ryandrewjohnson/react-localize-redux-docs

It will get in a lot quicker that way, as I’m super busy right now and won’t have the time to look at this for a while.

[2018-08-27 03:16] calestar opened #119 "Issues using react-localize-redux without redux"
Hi !

According to the [release notes from 3.0](https://github.com/ryandrewjohnson/react-localize-redux/blob/8e797863b8ca5e684a6cdd76d24c526af34ccf9a/CHANGELOG.md#300-june-3-2018), `react-localize-redux` is supposed to be usable without using redux. But I seem to be getting issues compiling.

When trying to start a new project with bare bones dependencies:
[code]

And a really basic `index.jsx`:
[

[2018-08-27 09:11] tabaktoni opened #120 "Pull String from translation"
I use Ant Design lib. In some casis i need to pull only string from translation not react object. For ex. placeholder component parameters for translation and so on. It will be good to be able to pull just string. I try with Translate({id:'key'}) but it return react object also.

**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior

[2018-08-27 20:22] gmaci005 opened #121 "setActiveLanguage in React Native"
I am having difficulty building a component that toggles between English and Spanish using the setActiveLanguage function in react native. Do you think you can provide an example on how I can use it? Thank you for you help!

[2018-08-28 09:57] ryandrewjohnson commented on #119
It looks like the TypeScipry definition still has a reference to redux for the optional store prop that can be passed to LocalizeProvider.

In the meantime until I’m able to have a look at the issue try installing redux as a dev dependency for now. This way it should stop complaining during compile.

[2018-08-30 14:36] andyhbg opened #122 "withLocalize breaks navigationOptions for react-navigation"
**Bug**

When I use **withLocalize** on a screen component together with react-navigation, **[static navigationOptions](https://reactnavigation.org/docs/en/headers.html)** is no longer called.

This works and the title is shown
[code]
but when I use `export default withLocalize(HomeScreen);` navigationOptions is not called and the title is not displayed. Everything else works well and the translat

[2018-08-31 07:38] thchia commented on #122
I will have a stab at this over the next few days.

@andyhbg I suspect it is related to [this](https://reactjs.org/docs/higher-order-components.html#static-methods-must-be-copied-over), if you are comfortable feel free to poke around first and see if you can confirm.

[2018-08-31 10:46] andyhbg commented on #122
Hi @thchia!

Thanks for your feedback. I would love to help but I'm rather new to this so I'm not sure I feel that comfortable. I look around a bit and see what I can find.

For now, if I understand correct, react-redux connect uses [this](https://github.com/mridgway/hoist-non-react-statics) to solve the problem. Maybe that could be some help.

[2018-08-31 11:10] thchia commented on #122
@andyhbg The library you linked to is the same one mentioned in the page I linked to from the React docs.

I'll probably won't be able to get to this for a few days, when I do I will update here.

[2018-08-31 11:12] andyhbg commented on #122
Hmm, of course! Sorry about that and thank you for your help!

[2018-08-31 12:49] andyhbg commented on #122
Proposed solution seems to solve the problem. It works at least in my projects and hopefully for others as well.

[2018-09-08 01:52] ramyma opened #125 "Usage with SSR returns "Missing translationId: *ID* for language: ${ languageCode }""
**Do you want to request a _feature_ or report a _bug_?**
Report a bug

**What is the current behavior?**
When rendering with `ReactDOMServer.renderToString`, the translations are not ready at the time of page render and therefore yields the uninitialized message of the translation.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the pro

[2018-09-08 15:30] ryandrewjohnson commented on #125
This is probably related to issue #103

[2018-09-08 15:47] ramyma commented on #125
I'm not using redux and I thought it deserves a new thread as it's not very much related..

I suppose we need to have a way to initialize the provider with some props to avoid having the context uninitialized at the time of SSR.

@ryandrewjohnson  What's your thoughts ?

[2018-09-08 16:17] ryandrewjohnson commented on #125
Regardless of redux you need to use LocalizeProvider. The related issue I believe is that LocalizeProvider is dependent on componentDidMount lifecycle method that doesn’t get called for SSR. I need to investigate whether the logic in componentDidMount can be moved to the constructor instead, as that would get called both in SSR and browser rendering.

[2018-09-08 16:30] ramyma commented on #125
Correct me if I'm wrong, the code you're referring to in cdm is
[code]
Which only gets called if a store is passed to LocalizeProvider.
So I suppose it actually differs if redux is not used, no ?

[2018-09-08 16:34] ryandrewjohnson commented on #125
Ah you’re right. If you have some time to investigate that would be great. I still don’t have an example mocked for SSR so will be some time before I can get to this.

[2018-09-08 16:48] ramyma commented on #125
I have a theory, if we can pass the initialize object to the LocalizeProvider and then use the passed values as the defaults when setting up the context, we'd be able to get the context initialize right from the start.
I've been doing some digging in the code but I don't know where would that fit exactly..
I'd like to help, can you give me any pointer ?

BTW I've created a minimalistic library exa

[2018-09-09 13:44] ramyma commented on #125
@ryandrewjohnson what do you think ?

[2018-09-11 01:51] ryandrewjohnson commented on #115
Closing due to inactivity.

[2018-09-11 01:51] #115 closed

[2018-09-11 06:56] thchia commented on #120
Do you mean you tried the following:

[code]

This would be the recommended way to get a string, and as far as I can tell should work. If it does not, please provide a reproduction.

[2018-09-12 12:00] vaikoovery opened #128 "Avoiding code duplication & Implementation with redux"
First of all, thank you so much for such a nice & simple translator package... loving it. <3

Not sure whether its a bug, but I'm facing code duplication issue with & withut redux.
A code sample has been made here: https://codesandbox.io/s/wwpznw5mww

My concern is about duplicating the code in constructor, when I have more translation files available. i.e.

    const { userLanguage } = props

[2018-09-12 22:14] ryandrewjohnson commented on #125
Fixed in #117 and included in version `v3.4.0`.

[2018-09-12 22:14] #125 closed

[2018-09-12 22:15] ryandrewjohnson commented on #119
This should be fixed in `v3.4.0`.

[2018-09-12 22:16] ryandrewjohnson commented on #103
Fixed in #127  and included in version v3.4.0.

[2018-09-12 22:16] #103 closed

[2018-09-21 13:17] ryandrewjohnson commented on #128
@vaikoovery you should only ever have to call the `initialize` method once in your application. Best practice is to do this when your application is bootstrapping e.g. In your App's componentDidMount or constructor.

Also in version `v3.4.0` you can now [pass your initialize payload](https://ryandrewjohnson.github.io/react-localize-redux-docs/#working-with-server-side-rendering) directly to `Local

[2018-09-21 15:58] vaikoovery commented on #128
The reason why I was using initialize in differrent Components is to use multiple json files for differrent components.

Do you recommend using all translations in single file and `Initialize` only once? I assumed that the bundle size can be reduced if I use different json files. Please advise.

[2018-09-21 18:17] ryandrewjohnson commented on #128
This is outlined in the [Add translation data](https://ryandrewjohnson.github.io/react-localize-redux-docs/#add-translation-data) section of Getting Started in the docs.

You need to use [this.props.addTranslation(translations)](https://ryandrewjohnson.github.io/react-localize-redux-docs/#addtranslation). This can be called as many times as you want, and each time will add your new translations.

[2018-09-21 18:17] #128 closed

[2018-09-22 15:30] arturgithub commented on #120
Hi,

I was facing the exact same situation with Ant design and placeholders and that solved the issue indeed.

Thanks,

[2018-09-26 14:32] pixelplant commented on #119
@ryandrewjohnson Nope, still getting this in 3.4.0
```Error: Can't resolve 'redux'```

[2018-09-28 10:35] lyndseybrowning commented on #119
I am also getting the "Can't resolve redux" error with react-localize-redux version 3.4.0.

[2018-09-28 12:56] ryandrewjohnson commented on #119
@pixelplant @lyndseybrowning I just pushed removed a few left over redux references I found in the source #129 . Hopefully this takes care of the issue - fixes are published in `v3.4.1`.

[2018-10-03 04:09] hashithkarunarathne commented on #85
@ryandrewjohnson
In my app it have 3 Languages, each language contains more than 2000 translations (and still growing).
I loaded the selected language translations on the App.js while loading time when the translations get increasing it took more time to load the App

[2018-10-17 14:20] ron-camaron opened #131 "Keep getting the error MissingTranslationId :helpwanted:"
I want to use the allLanguages format. So I created a .json file named `global.json` that looks like this:

[code]

I decided to implement everything in my Root component as follows:

[code]

Then, in a stateless controller named Header, I want to make use of the localize through the Translate component of the library.

[code]

I'm getting the error: `Missing TranslationId: header.home for languag

[2018-10-17 18:18] ryandrewjohnson commented on #85
If you can provide a code sandbox with an example I can have a look.

[2018-10-17 18:23] subharb opened #132 "withLocalize makes component rerender and reducer is not added"
**Do you want to request a _feature_ or report a _bug_?**
Report a bug

**What is the current behavior?**
Adding withLocalize makes the component to rerender and the reducer is not added since this.props.activeLanguage or this.props.defaultLanguage are undefined on the first render but have value on the second.

**If the current behavior is a bug, please provide the steps to reproduce and if possi

[2018-10-17 18:32] ryandrewjohnson commented on #122
Fixed in #130 and published in `v3.5.0`.

[2018-10-17 18:32] #122 closed

[2018-10-17 18:37] ryandrewjohnson commented on #132
Please try passing the initialize payload directly to `<LocalizeProvider>`, which is demonstrated in the [server side rendering docs](https://ryandrewjohnson.github.io/react-localize-redux-docs/#working-with-server-side-rendering). This approach works fine client side as well, and I will eventually be updating the docs to communicate this as well when I have time.

If this doesn't solve the issue

[2018-10-17 19:21] #132 closed, assigned to nobody

[2018-10-17 23:47] mycroft11 opened #133 "Hot reloading"
Hi, it seems on a hot reload, the translations are missing and also onMissingTranslation function is reset

Using ejected create-react-app v2 and react-localize-redux 3.5.0

index.js
[code]

withLocalize(App.js) (constructor)

[code]

[2018-10-18 00:49] mycroft11 commented on #133
Update, seems like it works if I don't store the localize data in redux store.

[2018-10-19 05:01] thchia commented on #131
@ron-camaron I don't think you can use `withLocalize` outside the `LocalizeProvider` component.

Try wrapping `App` with `withLocalize` and doing your initialisation there.

[2018-10-22 21:58] #131 closed

[2018-10-26 18:12] JeffBaumgardt opened #135 "Double renders or provider initialization fails"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Same issue as #132. Double renders when using withLocalize

I followed the instruction to initialize the provider but the initialization does not seem to take affect. Leading to my strings not loading in at all when attempting to addTranslation and getTranslation is empty. As is the store.localize.tran

[2018-10-29 04:07] thchia commented on #135
@ryandrewjohnson I think there could be a bug in the case when the following conditions are satisfied:

1. `store` and `initalize` props are passed to `LocalizeProvider`
2. `localize` state is accessed from redux store.

I _think_ it is because there is missing initial state that needs to be set in the constructor of `LocalizeProvider`:

[code]
This would ensure that the `initialize` payload is pr

[2018-11-06 18:15] ryandrewjohnson commented on #135
@JeffBaumgardt can you try the proposed solution I discussed [here](https://github.com/ryandrewjohnson/react-localize-redux/issues/132#issuecomment-430741246), and let me know if that works.

I still need to update the docs to instruct people to use the `initialize` prop on `LocalizeProvider` as the preferred initialization flow.

[2018-11-06 18:16] ryandrewjohnson commented on #120
Closing since it looks like @thchia answered the question.

[2018-11-06 18:16] #120 closed

[2018-11-06 22:55] JeffBaumgardt commented on #135
That's what I tired in my first sandbox. I added the initialize prop to the provider but I'm not getting anything back out, redux isn't updated and no keys exist.

[2018-11-08 21:41] ryandrewjohnson commented on #135
Fixed in #136 and released in `v3.5.1`

[2018-11-08 21:41] #135 closed

[2018-11-22 12:38] zannix opened #137 "Get translation string (raw)"
**Do you want to request a _feature_ or report a _bug_?**

Requesting a feature.

**What is the current behavior?**

Translate function returns an object, and there is no way to return a literal string. Often times I need a literal string.

**Which versions of `react` and `react-localize-redux` are you using?**

react-localize-redux 3.5.0, react 16.4.1

I am getting an issue where I have to get a

[2018-11-24 04:43] savanchhayaniai opened #138 "How do i assign value to placeholder of input?"
**Do you want to request a _feature_ or report a _bug_?**
Feature | Bug

**What is the current behavior?**
I want to assign value to placeholder value of input textbox, I need help.

**Which versions of `react` and `react-localize-redux` are you using?**
I am using "react-localize-redux": "^3.5.1" version.

Thank you :)

[2018-11-24 04:59] savanchhayaniai commented on #138
Hi,
I've got the solution,
   <Translate>
                  {({translate}) => (
                    <div>{translate("password")}
                      <input placeholder={translate("password").toString()}/>
                    </div>
                  )}
     </Translate>

[2018-11-24 04:59] #138 closed

[2018-11-29 09:01] thchia commented on #137
With the pattern you want to use, you need to treat `doTranslate` as a component:

[code]

[2018-11-29 10:15] zannix commented on #137
[code]

I know I can do it this way, but I'd like to avoid that because of readability. And since this package uses context API I don't see a reason why this feature couldn't be implemented at the level of provider.

Here is the current function that I am using after revising to return a string literal:

[code]

[2018-11-29 21:10] thchia commented on #137
I don't quite follow this - when using Context, you still need to access `Context.Consumer`, this is what is happening in the `Translate` component, so it looks like there is no way to avoid the readability issues you encounter.

[2018-12-03 14:32] yoieh opened #139 "Trying to Dynamic update of Translate id"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
Trying to translate my route names in my breadcrumbs

Dynamic update of Translation id on translation component seams to defualt to rout name when using react router. I first thut that it jus did not update on uppdating the id and defualts to the defualt translation. But it updates and breakes translat

[2018-12-04 07:21] thchia commented on #139
To paraphrase your issue for anyone else - the question is why does including inline default translations override the specified translation?

[code]

This is actually [expected behaviour](https://ryandrewjohnson.github.io/react-localize-redux-docs/#include-inline-default-translations).

I admit it is not that obvious, but perhaps there is a reason for this @ryandrewjohnson?

[2018-12-04 08:55] yoieh commented on #139
Thank you I see.It looked like a very weird behavior but it not a bug then.

On the project im working on my breadcrumbs works on mount but when im switching between two "sub routes" in a "sub switch" the defualt kicks in and overwrites my translation. From swe translateion to a eng route.

I need a translation for my breadcrumbs and to handle my dynamic routes breadcrumbs. I need to falback to th

[2018-12-04 09:52] thchia commented on #139
I think you can also use `onMissingTranslation` on a case-by-case basis on each `Translate` component.

[2018-12-04 09:52] #139 closed

[2018-12-04 10:52] ryandrewjohnson commented on #139
I believe at the time of development I was contemplating whether to make the inline translation override configurable. At the time I felt that the API footprint was getting a bit verbose, and ended up opting to not make it configurable.

I agree that this could be confusing, and is something that should be added to the roadmap for next major version. As we’ll be able to reevaluate how configurable

[2018-12-05 15:59] ryandrewjohnson opened #140 "V4.0 Roadmap"
This will track work proposed work for the next major version release.

-

[2018-12-05 16:02] ryandrewjohnson commented on #139
Now tracking in #140

[2018-12-11 22:31] yoieh opened #141 "IE10 and IE9 Unable to get property 'store' of undefined or null reference"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
Crashes and Im getting an error in IE10 and IE9

[code]

[code]

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your JSFiddle (https://jsfiddle.net/Lu

[2018-12-13 02:02] ryandrewjohnson commented on #141
@yoieh It looks like you need a couple of polyfills since you are supporting older browsers. I don't want to include these in the source, as this would increase the library size for all users. I will create a new issue to update the docs with how to support IE.

I was able to get the demo app running in IE by adding a polyfill for `Symbol` and `Map`. If you aren't already I recommend using [Babel]

[2018-12-13 02:06] ryandrewjohnson opened #142 "Add supporting IE section to docs"
In order to run the library in older version of IE some features are require a polyfill. The documentation should be updated to inform users which polyfills need to be added, and how to add them.

See #141 for details.

[2018-12-13 02:07] ryandrewjohnson commented on #137
Based on @thchia's comments closing this one.

[2018-12-13 02:07] #137 closed

[2018-12-13 13:50] qeterlee opened #143 "Combined use of SSR and redux"
**Do you want to request a _feature_ or report a _bug_?**
Not sure if it is a bug.

**What is the current behavior?**
When configuring react-localize-redux to work with SSR **and** redux the initial state in the initialize attribute of LocalizeProvider is not stored in redux. Thus the first server side rendered content is missing the initialization.

**Where does the problem occur?**
We are using

[2018-12-13 22:06] yoieh commented on #141
Yes i do use babel

[code]
I have imported `@babel/polyfill` in index/entry file to deal orther problems of older browsers and should cover ES2015+ `Symbol` and `Map` if Im reading right. But yes a polyfill would probobly get this to work...

Any specific plugins your recomend to get `react-localize-redux` to work or do i need to wait for the docs to update?

[2018-12-14 03:00] thchia commented on #143
@qeterlee is it possible to provide a reproduction for this issue? It sounds like something that should have been fixed in #136 but if you are having issues then let's investigate.

[2018-12-14 18:12] qeterlee commented on #143
Hi @thchia thank you for your fast response!

I missed #136, maybe I have a configuration issue. However I still created a running example using that boilerplate: https://github.com/qeterlee/localize.git

And this should start the example:
[code]

When javascript is deactivated in the browser, I see in the first page load that in the window.__data variable the initialisation of localize is missing

[2018-12-15 09:01] thchia commented on #143
@qeterlee Ok, the short answer is that this behaviour is expected.

When you server-render your application, it will generate static HTML that is sent back down to the browser. Setting up the redux store is a separate concern that you must handle if you want it to contain certain data upon hydration (like the localization data in this case).

After digging through the boilerplate you are using, I'

[2018-12-17 10:31] qeterlee commented on #143
@thchia thank you for the nice explanation. I understand it now and I will try to implement a solution according to your given code snippet. I also will close this issue now. Keep up the great work!

[2018-12-17 10:31] #143 closed

[2018-12-21 01:14] ryandrewjohnson commented on #69
@Porges thanks for having a look at this. Can you submit a PR with this fix when you get a chance?

[2019-01-08 17:01] BobaFatale commented on #69
I also ran in to this error while working on a project so I have put up a PR, I hope that is okay.
Thanks so much @Porges for the solution

[2019-02-05 12:09] boetn opened #145 "Translate property of jsx element"
Hi, I just started using your library and it has been great so far. I do have a feature request / "can I do this question".

I was trying to assign a translated text to the placeholder property of an input element. however I can't seem to get it working.

[code]

This however shows a `[object] [Object]` placeholder since an object is returned. Is there any way I can accomplish this without moving

[2019-02-07 03:50] ryandrewjohnson commented on #145
You need to use the [translate](https://ryandrewjohnson.github.io/react-localize-redux-docs/#translate) function, which can be accessed by either using the [Render Props](https://ryandrewjohnson.github.io/react-localize-redux-docs/#render-props-api) version of `<Translate />` or the [withLocalize](https://ryandrewjohnson.github.io/react-localize-redux-docs/#withlocalize) HOC.

With render props:

[2019-02-07 03:50] #145 closed

[2019-02-07 03:55] ryandrewjohnson commented on #141
Issue will be addressed in #142

[2019-02-07 03:55] #141 closed

[2019-02-07 03:56] ryandrewjohnson commented on #142
Now being tracked in #140

[2019-02-07 03:56] #142 closed

[2019-02-07 03:56] #133 closed

[2019-02-07 03:56] #121 closed

[2019-02-07 03:56] #96 closed

[2019-02-07 03:57] ryandrewjohnson commented on #69
Closing this as I'll be moving the project over from Flow to TypeScript as part of #140

[2019-02-07 03:57] #69 closed

[2019-02-11 10:06] Cookst3r opened #146 "Returning strings for use in element attributes such as placeholder"
Advice/Information/Feature

**Unable to return text for placeholders**
React 16+ react-localize-redux 3.5+

I am trying to return a localised string for use as a placeholder in a text box;

[code]

Is this possible? If so please advise as to the method.

I am not using redux for localisation in this project

[2019-02-12 03:20] ryandrewjohnson commented on #146
Duplicate of #145

[2019-02-12 03:20] #146 closed

[2019-02-12 14:53] Cookst3r commented on #145
@ryandrewjohnson, Following my previous issue ( https://github.com/ryandrewjohnson/react-localize-redux/issues/146#issuecomment-462599763, marked as duplicate to this one) I am still unable to return a plain string.

![image](https://user-images.githubusercontent.com/33281770/52643674-680b6600-2ed5-11e9-95a4-3c3b02055e3b.png)

[code]
The issue is passing the translation to the value attribute of t

[2019-02-13 00:35] vascojm82 opened #147 "Cannot read property 'map' of undefined when running initialize()"
Hi,

I was able to make react-redux-localize work and it does so for as long as I navigate my React single page app from the navigation links(using React-Router 4). I do my initialization from the Homepage component and everything works fine when navigating from that component to Login but if I hit re-load on the browser from the SignIn component, the whole thing breaks because I basically loose t

[2019-02-13 11:24] Cookst3r opened #148 "Follow on from my previous issue"
@ryandrewjohnson, Following my previous issue ( https://github.com/ryandrewjohnson/react-localize-redux/issues/146#issuecomment-462599763, marked as duplicate to this one) I am still unable to return a plain string.

![image](https://user-images.githubusercontent.com/33281770/52643674-680b6600-2ed5-11e9-95a4-3c3b02055e3b.png)

[code]
The issue is passing the translation to the value attribute of t

[2019-02-14 10:46] zannix opened #149 "Is there a way to get a string instead of an object (component) as a translation product?"
Is there a way to get a string instead of an object (component) as a translation product?

In my project I am using another component that expects a string prop (which would ideally be the translated string from react-localize-redux lib), and I don't know how to get that.

Edit: If it helps, I am doing this outside render function, in a component helper function that doesn't return anything.

**Wh

[2019-02-15 02:51] ryandrewjohnson commented on #148
Can you provide a codesandbox working example that produces the error? Also are you using TypeScript in your project? This appears to be a typing issue.

[2019-02-15 02:53] ryandrewjohnson commented on #149
I'm going to need some more detail to help you out. Ideally a working example in codesandbox, or at the very least a code snippet I can look at.

[2019-02-15 03:00] ryandrewjohnson commented on #147
It's hard to say for sure without seeing a working example, but you need to ensure you are calling initialize before attempting to access any translation data. In your case I would recommend calling initialize from App.js to ensure that your translations are initialized before any specific page is accessed.

Also I recommend actually initializing by passing your data to [LocaizeProvider's initiali

[2019-02-15 18:46] vascojm82 commented on #147
I moved the initialize call out of home.js to App.js, which is also where I have my router but it doesn't work correctly, here's my App.js:

[code]
And here's a screenshot of what I get for the homepage on the browser:

![image](https://user-images.githubusercontent.com/18554186/52877044-e90d6c00-3126-11e9-92b9-98953e4b0ae5.png)

Note: If I do initialize() from the home.js component, it works just

[2019-02-15 19:57] vascojm82 commented on #147
I made it work adding the initialize to the LocalizeProvier component:

`<LocalizeProvider store={store} initialize={{ languages: languages, options: options}}>`

[2019-02-18 15:35] vascojm82 commented on #147
After adding:

`<LocalizeProvider store={store} initialize={{ languages: languages, options: options}}>`

The route loads and the page gets all of its structure, labels, textboxes and the translations works fine but it craps out at some point and the rest of the styling doesn't get loaded so the page renders with none of the styling and images.  I get this error on the console:

![image](https://u

[2019-02-18 18:30] ryandrewjohnson commented on #147
This issue does not appear to be related to the original issue. To avoid muddying up this thread for future users I'm going to close this. If you feel there is a new issue please open a new issue, and please follow the issue template.

In addition looking at the console errors it doesn't appear to be related to anything specific to this library. The errors are stemming from `jquery.min.js` and `bo

[2019-02-18 18:30] #147 closed

[2019-03-04 21:52] ryandrewjohnson commented on #140
I'm going to be busy for the next while, so if anyone wants to help out with this please feel free to reach out.

[2019-03-22 11:34] vladmarton commented on #149
Hey, great plugin!
I have a problem, im trying to insert <Translate> into a form placeholder but all it returns is:

[object Object]

`<Form.Control
                      type="tel"
                      placeholder={
                        <Translate id="frontpage.section7.form.placeholder-telephone" />
                      }
                      required
                    />`

[2019-03-26 17:05] raheelkhan commented on #149
I am also looking for the same.
I have a case where i have a input field element. The placeholder attribute of input field needs to be translated.

[code]

[2019-03-27 17:46] ryandrewjohnson commented on #149
Duplicate of #145

[2019-03-27 17:46] #149 closed

[2019-04-02 06:22] marknguyen85 opened #151 "Translate string in saga file"
Hi there.
I'm using redux and saga and using translation for the component and it's great but I don't know how to translate the string in the saga file without the Component.

In the saga file I can access localizeReducer that is passed through the state but I cannot find any function to translate.

[2019-04-02 07:01] yoieh commented on #151
Why do you need to translate in side if a saga?

Im usually just saving the translation ID to redux, then using the translation component inside of my component.

Get the translation ID with `mapStateToProps` and use it with `<Translate id={this.props.myIdTranslation} />`

[2019-04-02 09:16] marknguyen85 commented on #151
i have some case must check as network, etc..... and throw message before call services

[2019-04-02 20:22] dmitrykrylov commented on #151
For instance, you could listen for all actions ending with `_FAILURE` or `_SUCCESS` and push toast-notifications.

You just need a selector:

[code]

[2019-04-02 20:44] dmitrykrylov opened #152 "Add useTranslate() hook"
It would be really great to have a hook for getting localization data. And the simplest implementation could look like this:
[code]

I didn't test it yet, but it should work this way:
[code]

@ryandrewjohnson any proposals on this feature?

UPD. I tried to switch from `withLocalize` to `useTranslate` in Books page of the demo app but I can't run it because there is no `react-localize-redux` in dep

[2019-04-03 04:08] ryandrewjohnson commented on #152
@dmitrykrylov see the v4.0 Roadmap #140. This captures exactly the functionality you're describing. I started the work, but I've since become busy so had to put it on hold. If you're interested in contributing let me know.

[2019-04-03 04:57] marknguyen85 commented on #151
So good, thanks for support.

[2019-04-03 04:57] #151 closed

[2019-04-03 10:18] dmitrykrylov commented on #152
That's why I'm here. I would like to submit a pr, but can't come up with how to do tests or demo for this case

[2019-04-03 13:13] ryandrewjohnson commented on #152
@dmitrykrylov if you want to contribute I recommend that you work off of the branch that was created for v4.0, which is outlined in #140. This hook will only be rolled out as part of a much larger release which includes all the scope items listed in the issue. Any help is appreciated, but if you are going to take on the hooks portion I recommend having a look at the v4  branch I started as referen

[2019-04-03 13:13] #152 closed

[2019-04-03 13:15] ryandrewjohnson commented on #148
Closing due to inactivity.

[2019-04-03 13:15] #148 closed

[2019-04-04 22:36] robfuscator opened #153 "initialize() and setActiveLanguage() take some time"
I need to fetch data via REST API according to the active language.

When I set the language using the standard Toggle component from the docs, and right after that send a query to the API, the old language still applies. It seems like setActiveLanguage() (and intialize() as well) takes a little time to finish and works async.

It would be great if there was either some way to determine when these

[2019-04-05 13:00] ryandrewjohnson commented on #153
Without a working example there is not much I can do to help on this one. If you can create a working example in https://codesandbox.io that reproduces the issue I will be able to better help you.

[2019-04-05 13:45] robfuscator commented on #153
Sadly I don't have that much time right now. But simply put I have a class component, where I initialize your library using the `initialize()` method. When I log the `activeLanguage` prop every time my component gets rendered, the first log is always `undefined` while every following log correctly shows the `activeLanguage` object.

[2019-04-09 00:03] Nodirbek3d opened #154 "Options of select lists are not being translated"
react-localize-redux is not translating options of select element.
Code sample:
`<select className="form-control" id="selectCity">
                                <option value="Select city"><Translate id="cityselector.selectcity">Select your city</Translate></option>
                                <option value="andijan"><Translate id="cityselector.andijan">Andijan</Translate></option>

[2019-04-09 02:41] WillisShek opened #155 "Uncaught TypeError: strings.split is not a function"
**Do you want to request a _feature_ or report a _bug_?**
buy

**What is the current behavior?**
When `renderInnerHtml` is set to `true` and a string with inner html is rendered, it will return `TypeError: strings.split is not a function`.

**Which versions of `react` and `react-localize-redux` are you using?**
"react": "^16.8.4",
"react-localize-redux": "^3.5.2",

[2019-04-09 23:33] #154 closed

[2019-04-11 02:04] ryandrewjohnson commented on #155
Please provide a working example in codesandbox that reproduces the error.

[2019-04-11 03:46] WillisShek commented on #155
I tried to reproduce it but I can't as it only happens in the browser but not in codesandbox. It is somewhat similar to this one.
[https://codesandbox.io/s/w76wv10z7w](url)

Here is the log.

    at templater (utils.js:83)
    at getLocalizedElement (utils.js:19)
    at getTranslation (localize.js:321)
    at localize.js:330
    at Object.children (LoginComponent.js:37)
    at WrappedTranslate.ren

[2019-04-11 17:04] BobaFatale opened #156 "Incorrect return type definition for onMissingTranslationFunction"
**Do you want to request a _feature_ or report a _bug_?**
Bug
**What is the current behavior?**
the TypeScript definition for `onMissingTranslationFunction` is throwing an error when `defaultTranslation` is returned by the function because the return type is `string` but the type of `defaultTranslation` is `LocalizedElement`

**If the current behavior is a bug, please provide the steps to reproduc

[2019-04-15 18:29] ryandrewjohnson commented on #156
@BobaFatale thanks for catching. If you have the time to submit a PR for this it would be greatly appreciated.

[2019-04-15 19:37] ryandrewjohnson commented on #155
Again without a working example I can't help much, but there is one issue I can see with codesandbox link you sent me:

You are fetching translations for `eng` asynchronously, but you immediately try to use that data in the same component, which is what results in this error. You need to ensure that the translation data is available before you try to use it in your components.

I'm going to close

[2019-04-15 19:37] #155 closed

[2019-04-16 04:59] WillisShek commented on #155
Thanks for the help. I believe I know what is the issue now.

[2019-04-19 02:02] ryandrewjohnson commented on #156
Fixed in #157.

[2019-04-19 02:02] #156 closed

[2019-04-23 04:51] WillisShek commented on #155
I am able the reproduce the issue now.
[https://codesandbox.io/s/w76wv10z7w](url)

The issue happens when `renderInnerHtml` is set to `true`. If a translation is missing and the default fallback translation contains inner html, error will occur. The funny thing is that if the default translation contains no inner html, there will be no error. You may view the above codesandbox for a live demo.

[2019-05-02 17:29] Myreage commented on #153
Hey I have quite the same problem with addTranslation, here's my use case :

I'm loading several translation files with get requests, use addTranslation for each of them, then set translationsLoaded to true when it's all done.

Sadly, translationsLoaded is set to true before the translations are added.

` const transLoading = filesTranslationBrand.map((fileTranslation) => {
          axios.get(rem

[2019-05-07 16:35] louis-jaris commented on #153
I have the same issue than @Myreage here, I've split my translations into several files that are being fetched. I have some translation id missing during 1 seconde or less. Can't you provide anything that will help us to avoid this missing id?
Thx

[2019-05-07 16:50] ryandrewjohnson commented on #153
@louis-jaris @Myreage same applies...

Also I'm very busy right now, so if either of you can submit a PR with a fix that'd be greatly appreciated as well.

[2019-05-20 08:58] ceu opened #158 "missing translateId for language"
**Do you want to request a _feature_ or report a _bug_?**
Yes

**What is the current behavior?**
just one page have this error, another page is ok

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or Co

[2019-05-20 10:03] #158 closed

[2019-05-23 08:07] marknguyen85 opened #159 "react-localize-redux: Invalid key passed to getTranslate."
Browser: Chrome
Mode: Incognito Window

When I use the key translation that inside the contains the tag html then get error below

`react-localize-redux: Invalid key passed to getTranslate.`

here is my key
"Cannot connect to XXX. Please make sure you have <a target='_blank' rel='noopener noreferrer' href='https://xxx.io'>XXX</a> installed"

i try debug then key generated as object type below

[co

[2019-05-27 11:21] afoysal opened #160 "Usage of React Redux in Modal"
I am learning Redux in React. I am using Redux in React for Modal development. My code is like below

    render() {
        return (
          <Modal id="addressModal" open={this.props.controlModal} onClose={this.props.action}>
            <Provider store={store}>
              {this.props.addresObj ? (
                <Modal.Header>Address Details</Modal.Header>
              ) : (

[2019-05-27 22:36] cristianocca commented on #109
Hello @ryandrewjohnson, adding a comment here since it would be pointless to open a new issue. I'm migrating an existing application to use translated strings. However, there are lots of places where native javascript functions such as alert and confirm are used, and wrapping every component inside the translate HOC one would take a lot of work!.
I'm wondering if there's a hackish way to simply ex

[2019-05-29 09:40] #159 closed

[2019-05-31 13:23] ryandrewjohnson commented on #109
@cristianocca assuming you are using the latest version of the library you could use the Render Props version of `<Translate>`. Have a look at the [docs](https://ryandrewjohnson.github.io/react-localize-redux-docs/#add-translations-to-components).

[2019-05-31 18:34] ryandrewjohnson commented on #160
Closing as this has absolutely no context to this library.

[2019-05-31 18:34] #160 closed

[2019-06-05 03:53] theochampion opened #163 "ref forwarding with withLocalize HOC"
Hey,

I'm trying to forward a ref through the HOC and I'm having trouble as the HOC is not setup to forward refs -> https://en.reactjs.org/docs/forwarding-refs.html#forwarding-refs-to-dom-components

Is it possible to add ref forwarding?

Happy to help with this if necessary :)

[2019-06-11 20:07] francisco-gonzalez-avigilon opened #165 "onChange in handleChange is called on every change to store"
**Do you want to request a _feature_ or report a _bug_?**
bug
**What is the current behavior?**
Any change to the redux store cause the onChange function to be executed. This causes our app to slow down a lot.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste t

[2019-06-19 22:32] Roshanalexander commented on #154
Hey @Nodirbek3d,
Assuming you closed this issue because you found a solution. If you did, please share the solution. I ran into a similar issue. I'm getting ``` object object ``` inside Select option.

[2019-06-20 00:02] Nodirbek3d commented on #154
Hey @Roshanalexander, I found a work around to this:
`import { withLocalize, Translate } from 'react-localize-redux';
 <Translate>{({ translate }) => <option value="none">{translate("cities.sel")}</option>}</Translate>
`

[2019-06-20 15:26] Roshanalexander commented on #154
it worked! Thanks...

[2019-07-08 07:43] ceu opened #166 "There is any plan to adapter the latest react version?"
i'm  using the react-localize-redux --- "3.5.3"   react ------ "16.4.1 "

if i update the react version to 16.8.6 ,  the react-localize-redux could't used!

and the translate have  delay in some situation, should be click the browser refresh , the translate  will be Ok

@ryandrewjohnson

[2019-07-10 05:21] lavanya-kuda opened #167 "Will react localize redux package set the lang attribute in <html> element ?"
**Do you want to request a _feature_ or report a _bug_?**
Bug
**What is the current behavior?**

Will react localize redux package set the lang attribute in <html> element ?

**What is the expected behavior?**

As per accessibility issues, we see Html element is not set with a lang attribute.

[2019-07-18 16:37] vikdotdev opened #170 "Specify in the documentation that component that holds `props.initialize` should be a class"
First of all keep in mind that I'm a react newb. I wasted a good bit of time before realizing that `props.initialize()` can't be used inside function component, is it really the case?

As react leans more towards function components I feel like it should be stated somewhere in the docs that this package will only work with class holding the initializer and that the function will not work.

**Which

[2019-07-26 01:17] khalidahmedshalabi commented on #109
`"react-localize-redux": "^3.5.2"`
[code]

[2019-07-26 12:48] goeaway commented on #170
Not sure what issue exactly you were having but when I tried this within a function component in Typescript I was getting [this error](https://reactjs.org/docs/error-decoder.html/?invariant=185).

I managed to get around this by placing the `initialize` call in a `useEffect()` hook:

[code]

I'm fairly new to hooks myself so there might be a preferred implementation, but this at least got my app w

[2019-07-26 20:16] khalidahmedshalabi commented on #109
`"react-localize-redux": "^3.5.2"`
[code]

[2019-07-26 20:18] khalidahmedshalabi commented on #109
`"react-localize-redux": "^3.5.2"`
[code]

[2019-08-01 00:53] ryandrewjohnson commented on #167
This would be up to you to set this attribute as react-localize-redux is completely agnostic when it comes to setting up the languages you're supporting. This would be a matter of updating the html lang attribute every time the active language changes. The implementation of that is outside the scope of this library though as it really depends on how your app is setup. e.g. Is the <html> element pa

[2019-08-01 00:53] #167 closed

[2019-08-01 00:58] ryandrewjohnson commented on #170
There is no dependency that requires you to use class components vs functional components. Following the current docs you would just use the [withLocalize](https://ryandrewjohnson.github.io/react-localize-redux-docs/#withlocalize) HOC, which is demonstrated in the docs using both class and functional components.

[2019-08-01 00:58] #170 closed

[2019-08-08 20:38] ryandrewjohnson commented on #166
Closing due to lack of details in the issue. An updated version is in the works and is being tracked in #140

[2019-08-08 20:38] #166 closed

[2019-09-16 11:49] jprester opened #178 "translate function not returning proper type [with CodeSandBox example]"
If I use react-localize-redux with typescript I will encounter type issue when passing the value to the 'translate' function and expecting to use returned string as a placeholder text for input form element.

Typescript is complaining that return value wont be a string but this instead:

![image](https://user-images.githubusercontent.com/4181978/64955411-76b16580-d888-11e9-8216-2fa03696c587.png)

[2019-11-13 13:54] odykyi commented on #102
just wrap Main.js component to <Provider>

it was helpful for me

[2019-11-19 12:07] azharuddinsayed commented on #102
i am using Reactjs.net and getting the error as
JsScriptException: Script threw an exception.
JavaScriptEngineSwitcher.ChakraCore.JsRt.JsErrorHelpers.ThrowIfError(JsErrorCode errorCode)

JsRuntimeException: Invariant Violation: Could not find "store" in the context of "Connect(Login)". Either wrap the root component in a <Provider>, or pass a custom React context provider to <Provider> and the cor

[2019-11-21 20:18] JonathanLu2393 opened #180 "Translation returns [Object object]"
`<option value="updated"><Translate id="dashboard.updated"/></option>` displays [Object object]

Ive searched around and tried
`<option value="updated">{({ translate }) => {translate('dashboard.updated')}}</option>`
But this displays empty string

`<option value="updated"><Translate>{({ translate }) => {translate('dashboard.updated')}}</Translate></option>`
also returns [Object object]

Is there s

[2019-11-21 20:41] #180 closed

[2020-01-05 09:47] nicolanilomartino commented on #84
@ChalomEllezam  actually wrote: "I want to request a bug"
You're inviting trouble bro. Usually we request a fix. not a bug. LOL!

[2020-01-08 04:13] nicolanilomartino commented on #178
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #165
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #163
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #153
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #140
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #165
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #165
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #165
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #163
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #153
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:14] nicolanilomartino commented on #140
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #163
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #153
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #140
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #163
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #153
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #140
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:15] nicolanilomartino commented on #165
HOW AND WHO THE HELL ADDED ME INTO THIS REPO! AND I CAN"T FIND A WAY TO GET THIS REPO OUT OF MY DASHBOARD! ARRRGHHHHH!

[2020-01-08 04:24] nicolanilomartino opened #183 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTE

[2020-01-08 04:24] nicolanilomartino opened #184 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTE

[2020-01-08 04:24] nicolanilomartino opened #185 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTE

[2020-01-08 04:25] nicolanilomartino opened #186 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTE

[2020-01-08 04:25] nicolanilomartino opened #187 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HO

[2020-01-08 04:25] nicolanilomartino opened #188 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTE

[2020-01-08 04:25] nicolanilomartino opened #189 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
**Do you want to request a _feature_ or report a _bug_?**HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS

[2020-01-08 04:26] nicolanilomartino opened #190 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
**Do you want to request a _feature_ or report a _bug_?**
HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO! HOW THE HELL DID I GET ADDED TO THIS

[2020-01-08 04:26] nicolanilomartino opened #191 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSandbox (https://codesandbox.io/s/new) example below

[2020-01-08 04:26] nicolanilomartino opened #192 "HOW THE HELL DID I GET ADDED TO THIS CLUTTER REPO!"
**Do you want to request a _feature_ or report a _bug_?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your JSFiddle (https://jsfiddle.net/Luktwrdm/) or CodeSandbox (https://codesandbox.io/s/new) example below

[2020-01-21 17:20] adamdharrington opened #193 "LocalizeContext not declared in types declaration despite being exported"
**Do you want to request a _feature_ or report a _bug_?**

Report a bug & offer fix

**What is the current behavior?**

Go to: https://codesandbox.io/s/stupefied-bhaskara-fsyir

- Open App.tsx
- Notice typescript error stating LocalizeContext is not exported from module

**What is the expected behavior?**

- LocalizeContext is exported from the module but not declared in the type definitions. This

[2020-02-05 10:57] quintenrosseel opened #196 "onMissingTranslation for multiple translations"
**Do you want to request a _feature_ or report a _bug_?**
A feature request.

**What is the current behavior?**
The _onMissingTranslation_ callback to the _Translate_ wrapper is not executed when dealing with multiple translate instances. Instead, the default missing translation template is shown, as explained [here](https://ryandrewjohnson.github.io/react-localize-redux-docs/#handle-missing-trans

[2020-02-06 12:13] erwanriou commented on #140
I would think about any kind of similar system of management such as locize.io or equivalent, to connect the json translate files to a better system to update.
I build all my system with your library, and could even connect advanced translated routing system with it. Was quite amazing. Now i face the issue to make this easier to translate by non-developer peoples.

If by anycase you want to go in

[2020-02-10 15:55] quintenrosseel commented on #196
I resolved this request by passing 'undefined' as second parameter to the translate function.
Something like the example below worked for me.
`
 <Translate>
     {
          ({translate}) =>
               <h1>
                {
                         translate("formFirstNameTitle", undefined, {
                                onMissingTranslation: function(){

[2020-02-10 15:55] #196 closed, assigned to nobody

[2020-02-18 08:15] arve0 opened #197 "Translating external components"
**Do you want to request a _feature_ or report a _bug_?**
Feature. Might be bug also, but most likely I'm holding it wrong or react-localize-redux is made this way.

**What is the current behavior?**
I've created a component that uses `<Translate id="sonetilhorighet.body" />` and transformed it with babel. The component is [published to npm](https://www.npmjs.com/package/@arve0/sonetilhorighet) an

[2020-02-19 02:10] ryandrewjohnson commented on #140
@erwanriou thanks for this great suggestion. I will keep this in mind ... if I can ever get the time to work on v4 🤞

[2020-02-22 19:25] StevePavlin opened #199 "Falling back to a translation that has html in it causes a crash"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
Falling back to a translation with html in it with and the renderInnerHtml option set to true causes a crash (defaultTranslation option sent to onMissingTranslation is the original translated jsx element).

Reproduced here: https://codesandbox.io/s/cool-shadow-6rpur

**What is the expected behavior?**

[2020-02-25 06:46] arve0 commented on #197
Workaround: Pass `translate` to external component, instead of using `<Translate />`.

[2020-04-01 14:20] nikitapandya opened #200 "Unit test for the Translate Component in Demo"
Do you want to request a feature or report a bug? **(Request an Example)**

Question regarding how you can unit test the translate component when its being called for example in the demo files Books.js or Movies.js.

**Current Behavior:**

I am looking at your unit test for the actual Translate component in Translate.test.js, but am unable to use these tests when I am testing the Translate compone

[2020-04-05 12:49] #197 closed, assigned to nobody

[2020-05-12 13:24] tinuts opened #202 "[Bug] onMissingTranslation is a non-serializable value"
Hi, after moving to redux-toolkit in order to reduce some boilerplate, I'm getting this error during the init of react-localize:

[code]

Here is my options values:
[code]

Any idea if I can get rid of that error ? I'm not able to attribute false to onMissingTranslation, this produce an error.

Thanks for help, and your work !

[2020-05-22 15:21] subharb commented on #153
Hello, I've set a working example, https://codesandbox.io/s/gracious-fast-w3tvo?file=/src/App.js

Not sure if its a bug, but if I set the language in the constructor of the component, this change is not yet transmitted when the "componentDidMount" is ran. I would need the value to be updated since that is where I call the server for texts in that language.
I set the language in the constructor bec

[2020-05-22 16:29] subharb opened #203 "Translate component not working with options { defaultLanguage: "XX" }"
**Do you want to request a _feature_ or report a _bug_?**
I am reporting a bug
**What is the current behavior?**
The Translate component is behaving as if the options props weren't passed.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your code. Paste the link to your JSFid

[2020-05-29 02:14] ryandrewjohnson commented on #153
@subharb for initial page load you would just determine the language based on url and then pass that language to `LocalizeProvider` as default language. That way when you app is initialized you'll have the correct language when your app first mounts.

The thing to keep in mind about executing logic in the constructor is that the logic on the client side will be executed as soon as that file is imp

[2020-06-08 20:59] nikitapandya commented on #200
[code]

[2020-06-25 18:09] PilotMarubozu commented on #113
[Existing demo](https://codesandbox.io/s/14xp1xy9ql) shows "Missing translationId" error if you choose the "Movies" section.

[2020-07-15 19:08] jwittner opened #204 "License issue with dependency: create-react-context ^0.2.2 (resolves to 0.2.3)"
**License Issue**

**What is the current behavior?**

Current create-react-context dependency version (resolves to 0.2.3) [license](https://github.com/jamiebuilds/create-react-context/blob/v0.2.3/LICENSE) excludes many companies from use of create-react-context, and thus from using react-localize-redux as well.

**What is the expected behavior?**

If you could fix the version to 0.2.2, or update t

[2020-07-15 22:18] jwittner commented on #204
Was able to work around this by taking a dependency on create-react-context @ 0.2.2 explicitly. Would still be a nice change to help others avoid this license snaffu.

[2020-07-19 16:43] pedily commented on #193
+1 on this since we want to build a hook helper and need to access the context in a TypeScript environment (ideally without a `@ts-ignore` statement)

[2020-09-10 16:59] dhwang commented on #140
On the theme of making it easier to non developers, Can this support PO file?

https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Web_Localizability/Localization_formats#gettext_(.po)

[2020-09-22 09:57] erwanriou opened #209 "Denial of Service Node Fetch"
Hello,

Just to inform that we currently have a small issue in one of the dependencies.
https://npmjs.com/advisories/1556

[2020-10-23 13:20] tomasruud opened #210 "Fallback option for default language when using translate() function"
**Do you want to request a _feature_ or report a _bug_?**
Feature

**What is the current behavior?**
When I'm using the `translate()` function, it's not possible able to add a fallback option for the default language in the same way as when using the translate component `<Translate>fallback</Translate/>`.

**What is the expected behavior?**
I would like to be able to supply a fallback translation

[2020-10-23 13:41] ghost opened #211 "Performance with big translation file"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
So we have translation files over 70Kb each, noticed that inital website loading is stalled for 5 seconds, profiling shows that
this is due to calls addTranslationForLanguage and getTranslationsForLanguage, 2 times each (for 2 languages loaded).
Tried to load only 1 language, but getTranslationsForLang

[2020-10-25 19:47] #202 closed, assigned to nobody

[2020-11-18 07:59] andyhbg commented on #155
@WillisShek Did you find a solution to this? I have the same problem.

[2020-11-19 06:38] WillisShek commented on #155
For the `options` that passed to `initialize`, I have used something like this
[code]
Hope it can help.

[2020-11-19 15:38] andyhbg commented on #155
Thank you @WillisShek, it is very helpful!

[2021-03-25 13:08] Muirik opened #215 "Getting value to populate to render block without triggering warning"
In my React app I need to retrieve some dates from my data that's coming in from the backend to set the starting and ending dates for a date filter in a class-based component. If I do this within my render, it works:

[code]

The `getStartDate()` looks like this:

[code]

However, what I really want to do is set the date based on the results of my data coming in from the server when the component

[2021-03-25 13:38] #215 closed, assigned to nobody

[2021-05-04 09:12] s100 commented on #209
That advisory comes from `node-fetch`, which is used by `isomorphic-fetch`, which is used by `fbjs`, which is used by `create-react-context@0.2.3`, which is used by `react-localize-redux`. `create-react-context` [stopped using `fbjs` entirely](https://github.com/jamiebuilds/create-react-context/pull/22) in `create-react-context@0.3.0`, which was released several years ago. So, all `react-localize-

[2021-08-26 13:59] Naartti opened #223 "Import "InitializePayload" fails in esbuild (e.g. when using Vite)"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
react-localize-redux cannot be built in Vite for react because there is an import of `InitializePayload` from `LocalizeProviders` which does not exist in `localize`. I checked react-localize-redux in my node_modules and there is no `InitializePayload` in `localize`.
[code]

**If the current behavior is

[2021-09-20 18:45] cristianocca opened #226 "Update react peer dependency"
**Do you want to request a _feature_ or report a _bug_?**
_bug_

**What is the current behavior?**
Localize cannot be installed with NPM >= 7 due to peer dependency issues. Please allow react 17 in this library's peer deps.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much faster if we can run your

[2021-10-29 16:04] cristianoccazinsp commented on #226
@ryandrewjohnson any chance for this to be updaded? Are you no longer maintaining the library?

Thanks!

[2021-11-01 08:04] MagnusHopland opened #229 "Type mismatch when using redux toolkit with Typescript"
**Do you want to request a _feature_ or report a _bug_?**
Bug

**What is the current behavior?**
When using configure store i get an error `Types of parameters 'action' and 'action' are incompatible.
    Property 'payload' is missing in type 'AnyAction' but required in type 'BaseAction<string, InitializePayload & AddTranslationPayload & AddTranslationForLanguagePayload & SetActiveLanguagePayload>'

[2021-11-18 04:00] ryandrewjohnson commented on #226
I had been working on updating the library a while back but I just haven’t had the time unfortunately. At this point it’s not being actively maintained. There is a branch created for v4 if anyone wanted to ever try and pick it up.

[2022-03-29 14:39] johnwen84 opened #235 "Vulnerabilities in the latest react-localize-redux"
**Do you want to request a _feature_ or report a _bug_?**
bug

**What is the current behavior?**
npm i react-localize-redux@latest

5 high severity vulnerabilities

To address all issues (including breaking changes), run:
  npm audit fix --force

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem. Your bug will get fixed much fas

[2022-05-09 22:47] cristianoccazinsp commented on #226
Hi @ryandrewjohnson , looks like the library now also depends on a vulnerable package and will flag it as vulnerable (https://github.com/ryandrewjohnson/react-localize-redux/issues/235). I wonder if it would be possible to at least bump the dependencies.  Are there any breaking changes or major code changes required?  I may be willing to pick this up if it's just patching some packages.

[2022-05-09 22:49] cristianoccazinsp commented on #235
It's a shame, but the library doesn't seem maintained anymore.

[2022-05-11 22:01] johnwen84 commented on #235
@cristianoccazinsp yea it sucks. I guess I'll have to find an alternative.

[2022-05-11 22:14] cristianoccazinsp commented on #235
Let me know if you find any!

[2022-05-16 10:55] jimmailcamp commented on #235
@ryandrewjohnson Any change you can update the package to fix these? Using this heavily in production

[2022-08-12 15:52] cristianoccazinsp commented on #226
Hello, any updates around this? Any new fork?

[2022-08-12 15:52] cristianoccazinsp commented on #235
Bump!

[2022-08-15 11:25] jimmailcamp commented on #235
Just switched to i18nreact. Def recommend it. You can opt out for the route prefixes easily.
Basicly just wrap the t function in i18n with your own component. And change every import statement where you used to use this package.
Worth the hassle, as it's very maintained unlike this shitshow.